<?xml version="1.0"?>
<configuration>
	<appSettings>
	</appSettings>
	<connectionStrings>
		<clear />
		<remove name="LocalSqlServer" />
		<add name="LocalSqlServer" connectionString="Server=sql2k801.discountasp.net;Database=SQL2008_539371_facetoface;User ID=SQL2008_539371_facetoface_user;Password=7202jimm" providerName="System.Data.SqlClient" />
		<add name="DBService" connectionString="Provider=SQLOLEDB;Data Source=tcp:sql2k801.discountasp.net;Initial Catalog=SQL2008_539371_facetoface;User ID=SQL2008_539371_facetoface_user;Password=7202jimm;" />
	</connectionStrings>
	<system.web>
		<!--<trace enabled="true" localOnly="false" pageOutput="true"/>-->
		<compilation debug="true" targetFramework="4.0" />
		<globalization culture="auto" uiCulture="auto" />
		<authentication mode="Forms">
			<forms slidingExpiration="true" timeout="129600" />
		</authentication>
		<membership defaultProvider="AspNetSqlMembershipProvider">
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" applicationName="Pivot" connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" />
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider">
			<providers>
				<clear />
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" applicationName="Pivot" connectionStringName="LocalSqlServer" />
			</providers>
		</roleManager>
		<profile enabled="true" defaultProvider="SqlTableProfileProvider">
			<providers>
				<clear />
				<add name="SqlTableProfileProvider" type="Microsoft.Samples.SqlTableProfileProvider" applicationName="Pivot" connectionStringName="LocalSqlServer" table="aspnet_Profiles" />
			</providers>
			<properties>
				<add allowAnonymous="false" name="UserId" type="System.Guid" customProviderData="UserId;uniqueidentifier" />
				<add allowAnonymous="false" name="LastUpdatedDate" type="System.DateTime" customProviderData="LastUpdatedDate;datetime" />
				<add allowAnonymous="false" name="OptInUpdates" type="bool" customProviderData="OptInUpdates;bit" />
				<add allowAnonymous="false" name="Language" type="int" customProviderData="Language;smallint" />
			</properties>
		</profile>
		<httpModules>
			<add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</httpModules>
		<httpHandlers>
			<add path="*.cxml" verb="GET" type="Pivot.Web.CxmlHandler" />
			<add path="*.dzc" verb="GET" type="Pivot.Web.DzcHandler" />
			<add path="*/dzi/*.dzi" verb="GET" type="Pivot.Web.DziHandler" />
			<add path="*/dzi/*_files/*/*_*.jpg" verb="GET" type="Pivot.Web.DziTileHandler" />
			<add path="*_files/*/*_*.jpg" verb="GET" type="Pivot.Web.CollectionTileHandler" />
			<add path="*.*_tile" verb="GET,HEAD" type="Pivot.Web.TileHandler" />
		</httpHandlers>
	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<authenticationService enabled="true" requireSSL="false" />
				<profileService enabled="true" />
				<roleService enabled="true" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</modules>
		<handlers>
			<add path="*.cxml" verb="GET" type="Pivot.Web.CxmlHandler" name="CXML" />
			<add path="*.dzc" verb="GET" type="Pivot.Web.DzcHandler" name="DZC" />
			<add path="*/dzi/*.dzi" verb="GET" type="Pivot.Web.DziHandler" name="DZI" />
			<add path="*/dzi/*_files/*/*_*.jpg" verb="GET" type="Pivot.Web.DziTileHandler" name="DziImageTile" />
			<add path="*_files/*/*_*.jpg" verb="GET" type="Pivot.Web.CollectionTileHandler" name="ImageTile" />
			<add path="*.*_tile" verb="GET,HEAD" type="Pivot.Web.TileHandler" name="Tile" />
		</handlers>
	</system.webServer>
	<!--<system.serviceModel>
		<bindings>
			<customBinding>
				<binding name="CustomBinding_DBService">
					<binaryMessageEncoding maxReadPoolSize="2048" maxWritePoolSize="2048" maxSessionSize="2048">
						<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					</binaryMessageEncoding>
					<httpTransport
						maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"
						manualAddressing="false" allowCookies="false" authenticationScheme="Anonymous"
						bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
						keepAliveEnabled="true" proxyAuthenticationScheme="Anonymous"
						realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
						useDefaultWebProxy="true" />
				</binding>
			</customBinding>
		<bindings>
	<system.serviceModel>-->
	<system.serviceModel>
		<bindings>
			<customBinding>
				<binding name="CustomBinding_DBService">
					<binaryMessageEncoding maxReadPoolSize="2048" maxWritePoolSize="2048" maxSessionSize="2048">
						<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					</binaryMessageEncoding>
					<httpTransport
						maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"
						manualAddressing="false" allowCookies="false" authenticationScheme="Anonymous"
						bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
						keepAliveEnabled="true" proxyAuthenticationScheme="Anonymous"
						realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
						useDefaultWebProxy="true" />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="http://dreamnit.com/DBService.Web/DBService.svc"
			 binding="customBinding" bindingConfiguration="CustomBinding_DBService"
			 contract="DBService.DBService" name="CustomBinding_DBService" />
		</client>
		<!-- this is needed since this service is only supported with HTTP protocol -->
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
	</system.serviceModel>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="customercare@McPivot.com">
				<network defaultCredentials="false" port="587" host="smtp.dreamnit.com" userName="admin@dreamnit.com" password="7202jimm" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
