//***********************************************************************
IDD_HIDESEEKI SCENE // The logo scene
//***********************************************************************
STAGE ""
PROPS
{					 
	TOONHOLDER()
}

//***********************************************************************
IDD_HIDESEEKI GAMETABLE
//***********************************************************************
{
"
animalhorsedark=HORSANIM.DIB,animalgoatdark=GOATANIM.DIB,animalsheepdark=SHEEP.BMP,animalduckdark=DUCKANIM.DIB;","
animaldonkeydark=DONKEY.BMP,animalcowdark=COWANIM.DIB,animalcatdark=CATANIM.DIB,animalchickendark=CHICANIM.DIB;","
animalmousedark=MOUSE.BMP;","

animalhorselit=HORSDONE.DIB,animalgoatlit=GOATDONE.DIB,animalsheeplit=LSHEEP.BMP,animalducklit=DUCKDONE.DIB;","
animaldonkeylit=LDONKEY.BMP,animalcowlit=COWDONE.DIB,animalcatlit=CATDONE.DIB,animalchickenlit=CHICDONE.DIB;","
animalmouselit=LMOUSE.BMP;","

animalhorsewave=HORSE.WAV,animalgoatwave=GOAT.WAV,animalsheepwave=SHEEP.WAV,animalduckwave=DUCK.WAV;","
animaldonkeywave=DONKEY.WAV,animalcowwave=COW.WAV,animalcatwave=CAT.WAV,animalchickenwave=CHICKEN.WAV;","
animalmousewave=MOUSE.WAV;","

introwav=intro1.wav,picktime=20;","
successwavs=succ1.wav succ2.wav succ3.wav succ3.wav;","
",0
}

//***********************************************************************
IDD_SPANHIDESEEKI GAMETABLE
//***********************************************************************
{
"
animalhorsedark=HORSANIM.DIB,animalgoatdark=GOATANIM.DIB,animalsheepdark=SHEEP.BMP,animalduckdark=DUCKANIM.DIB;","
animaldonkeydark=DONKEY.BMP,animalcowdark=COWANIM.DIB,animalcatdark=CATANIM.DIB,animalchickendark=CHICANIM.DIB;","
animalmousedark=MOUSE.BMP;","

animalhorselit=HORSDONE.DIB,animalgoatlit=GOATDONE.DIB,animalsheeplit=LSHEEP.BMP,animalducklit=DUCKDONE.DIB;","
animaldonkeylit=LDONKEY.BMP,animalcowlit=COWDONE.DIB,animalcatlit=CATDONE.DIB,animalchickenlit=CHICDONE.DIB;","
animalmouselit=LMOUSE.BMP;","

animalhorsewave=HORSE.WAV,animalgoatwave=GOAT.WAV,animalsheepwave=SHEEP.WAV,animalduckwave=DUCK.WAV;","
animaldonkeywave=DONKEY.WAV,animalcowwave=COW.WAV,animalcatwave=CAT.WAV,animalchickenwave=CHICKEN.WAV;","
animalmousewave=MOUSE.WAV;","

introwav=spintro1.wav,picktime=20;","
successwavs=spsucc1.wav spsucc2.wav spsucc3.wav spsucc3.wav;","
",0
}

//***********************************************************************
IDD_HIDESEEKI JUMPTABLE
//***********************************************************************
{
"
	bg=scene19\\backgrnd.dib,clip=CL CT CR CB,","

	prev=FADE CLIP TRANS_PREV STEP_SIZE TOTAL_TIME,","
	next=FADE CLIP TRANS_NEXT STEP_SIZE TOTAL_TIME,","
	jump=FADE NOCLIP TRANS_JUMP STEP_SIZE TOTAL_TIME;","

//*** Page Number ***//                                                              
                                                              
	/PAGE=0 0,			pos=282 0,fg=page.bmp,flags=noclip;","  
	
//*** Action Strip Icons ***//

	/IDC_PREVIOUS=0 0,		hot=46 444,		flags=noclip autobutton click alwaysenabled notrans,cmd=IDC_PREVIOUS,fg=prev.bmp,hint=prev.wav;","
	/IDC_MAINMENU=0 0,		hot=307 442,	flags=noclip autobutton click alwaysenabled notrans,cmd=IDC_MAINMENU,fg=main.bmp,hint=mainmenu.wav;","
	/IDC_SOUNDBOX=0 0,		hot=218 443,	flags=noclip autobutton click notrans,cmd=IDC_SOUNDBOX,fg=sound.bmp,hint=soundbox.wav;","
	/IDC_OPTIONS=0 0,		hot=389 443,	flags=noclip autobutton click notrans,cmd=IDC_OPTIONS,fg=options.bmp,hint=options.wav;","
	/IDC_ACTIVITIES=0 0,	hot=136 444,	flags=noclip autobutton click notrans,cmd=IDC_ACTIVITIES,fg=activity.bmp,hint=activity.wav;","
	/IDC_NEXT=0 0,			hot=557 444,	flags=noclip autobutton click alwaysenabled notrans,cmd=IDC_NEXT,fg=next.bmp,hint=next.wav;","
	/IDC_HELP=0 0,			hot=484 444,	flags=noclip autobutton click notrans, cmd=IDC_HELP, fg=help.bmp, hint=helphint.wav;","

",0
}  

//***********************************************************************
IDD_SPANHIDESEEKI JUMPTABLE
//***********************************************************************
{
"
	bg=scene19\\backgrnd.dib,clip=CL CT CR CB,","

	prev=FADE CLIP TRANS_PREV STEP_SIZE TOTAL_TIME,","
	next=FADE CLIP TRANS_NEXT STEP_SIZE TOTAL_TIME,","
	jump=FADE NOCLIP TRANS_JUMP STEP_SIZE TOTAL_TIME;","

//*** Page Number ***//                                                              
                                                              
	/PAGE=0 0,			pos=282 0,fg=page.bmp,flags=noclip;","  
	
//*** Action Strip Icons ***//

	/IDC_PREVIOUS=0 0,		hot=46 444,		flags=noclip autobutton click alwaysenabled notrans,cmd=IDC_PREVIOUS,fg=prev.bmp,hint=spprev.wav;","
	/IDC_MAINMENU=0 0,		hot=307 442,	flags=noclip autobutton click alwaysenabled notrans,cmd=IDC_MAINMENU,fg=main.bmp,hint=spmain.wav;","
	/IDC_SOUNDBOX=0 0,		hot=218 443,	flags=noclip autobutton click notrans,cmd=IDC_SOUNDBOX,fg=sound.bmp,hint=spsounds.wav;","
	/IDC_OPTIONS=0 0,		hot=389 443,	flags=noclip autobutton click notrans,cmd=IDC_OPTIONS,fg=options.bmp,hint=spoption.wav;","
	/IDC_ACTIVITIES=0 0,	hot=136 444,	flags=noclip autobutton click notrans,cmd=IDC_ACTIVITIES,fg=activity.bmp,hint=spactivy.wav;","
	/IDC_NEXT=0 0,			hot=557 444,	flags=noclip autobutton click alwaysenabled notrans,cmd=IDC_NEXT,fg=next.bmp,hint=spnext.wav;","
	/IDC_HELP=0 0,			hot=484 444,	flags=noclip autobutton click notrans, cmd=IDC_HELP, fg=help.bmp, hint=sphelp.wav;","

",0
}  

//***********************************************************************
IDD_HIDESEEK1 SCENE // The logo scene
//***********************************************************************
STAGE ""
PROPS
{					 
	TOONHOLDER()
}

//***********************************************************************
IDD_HIDESEEK1 GAMETABLE
//***********************************************************************
{
"
animalhorsedark=HORSANIM.DIB,animalgoatdark=GOATANIM.DIB,animalsheepdark=SHEEP.BMP,animalduckdark=DUCKANIM.DIB;","
animaldonkeydark=DONKEY.BMP,animalcowdark=COWANIM.DIB,animalcatdark=CATANIM.DIB,animalchickendark=CHICANIM.DIB;","
animalmousedark=MOUSE.BMP;","

animalhorselit=HORSDONE.DIB,animalgoatlit=GOATDONE.DIB,animalsheeplit=LSHEEP.BMP,animalducklit=DUCKDONE.DIB;","
animaldonkeylit=LDONKEY.BMP,animalcowlit=COWDONE.DIB,animalcatlit=CATDONE.DIB,animalchickenlit=CHICDONE.DIB;","
animalmouselit=LMOUSE.BMP;","

animalhorsewave=HORSE.WAV,animalgoatwave=GOAT.WAV,animalsheepwave=SHEEP.WAV,animalduckwave=DUCK.WAV;","
animaldonkeywave=DONKEY.WAV,animalcowwave=COW.WAV,animalcatwave=CAT.WAV,animalchickenwave=CHICKEN.WAV;","
animalmousewave=MOUSE.WAV;","

introwav=intro1.wav,picktime=20;","
successwavs=succ1.wav succ1.wav succ2.wav succ3.wav;","

",0
}

//***********************************************************************
IDD_SPANHIDESEEK1 GAMETABLE
//***********************************************************************
{
"
animalhorsedark=HORSANIM.DIB,animalgoatdark=GOATANIM.DIB,animalsheepdark=SHEEP.BMP,animalduckdark=DUCKANIM.DIB;","
animaldonkeydark=DONKEY.BMP,animalcowdark=COWANIM.DIB,animalcatdark=CATANIM.DIB,animalchickendark=CHICANIM.DIB;","
animalmousedark=MOUSE.BMP;","

animalhorselit=HORSDONE.DIB,animalgoatlit=GOATDONE.DIB,animalsheeplit=LSHEEP.BMP,animalducklit=DUCKDONE.DIB;","
animaldonkeylit=LDONKEY.BMP,animalcowlit=COWDONE.DIB,animalcatlit=CATDONE.DIB,animalchickenlit=CHICDONE.DIB;","
animalmouselit=LMOUSE.BMP;","

animalhorsewave=HORSE.WAV,animalgoatwave=GOAT.WAV,animalsheepwave=SHEEP.WAV,animalduckwave=DUCK.WAV;","
animaldonkeywave=DONKEY.WAV,animalcowwave=COW.WAV,animalcatwave=CAT.WAV,animalchickenwave=CHICKEN.WAV;","
animalmousewave=MOUSE.WAV;","

introwav=spintro1.wav,picktime=20;","
successwavs=spsucc1.wav spsucc1.wav spsucc2.wav spsucc3.wav;","

",0
}

//***********************************************************************
IDD_HIDESEEK1 JUMPTABLE
//***********************************************************************
{
"
	bg=scene19\\backgrni.dib,clip=CL CT CR CB,","

	prev=NOFADE NOCLIP TRANS_NONE,","
	next=NOFADE NOCLIP TRANS_NONE,","
	jump=FADE NOCLIP TRANS_JUMP STEP_SIZE TOTAL_TIME,","
	jumpscene=IDD_HIDESEEK3 NOFADE NOCLIP TRANS_NONE;","

	/IDC_BACK=0 0,		hot=7 441,		flags=noclip autobutton click notrans, cmd=IDC_BACK,       fg=back.bmp, hint=story.wav;","
	/IDC_ACTIVITIES=0 0,hot=136 444,	flags=noclip autobutton click notrans, cmd=IDC_ACTIVITIES, fg=activity.bmp, hint=activity.wav;","
	/IDC_MAINMENU=0 0,	hot=307 442,	flags=noclip autobutton click notrans, cmd=IDC_MAINMENU,   fg=main.bmp, hint=mainmenu.wav;","
	/IDC_HELP=0 0,		hot=484 444,	flags=noclip autobutton click notrans, cmd=IDC_HELP,       fg=help.bmp, hint=helphint.wav;","

	/IDC_LEVEL1OFF=0 0,	hot=603 395,	flags=noclip notrans,cmd=IDC_LEVEL1,show=/IDC_LEVEL1ON,hide=/IDC_LEVEL2ON /IDC_LEVEL3ON,fg=lvl1off.bmp;","
	/IDC_LEVEL2OFF=0 0,  hot=603 359,	flags=noclip notrans,cmd=IDC_LEVEL2,show=/IDC_LEVEL2ON,hide=/IDC_LEVEL1ON /IDC_LEVEL3ON,fg=lvl2off.bmp;","
	/IDC_LEVEL3OFF=0 0,  hot=603 323,	flags=noclip notrans,cmd=IDC_LEVEL3,show=/IDC_LEVEL3ON,hide=/IDC_LEVEL1ON /IDC_LEVEL2ON,fg=lvl3off.bmp;","
	/IDC_LEVEL1ON=0 0,	hot=603 395,	flags=noclip notrans,fg=lvl1on.bmp;","
	/IDC_LEVEL2ON=0 0,  hot=603 359,	flags=noclip invisible notrans,fg=lvl2on.bmp;","
	/IDC_LEVEL3ON=0 0,  hot=603 323,	flags=noclip invisible notrans,fg=lvl3on.bmp;","
",0
}

//***********************************************************************
IDD_SPANHIDESEEK1 JUMPTABLE
//***********************************************************************
{
"
	bg=scene19\\backgrni.dib,clip=CL CT CR CB,","

	prev=NOFADE NOCLIP TRANS_NONE,","
	next=NOFADE NOCLIP TRANS_NONE,","
	jump=FADE NOCLIP TRANS_JUMP STEP_SIZE TOTAL_TIME,","
	jumpscene=IDD_HIDESEEK3 NOFADE NOCLIP TRANS_NONE;","

	/IDC_BACK=0 0,		hot=7 441,		flags=noclip autobutton click notrans, cmd=IDC_BACK,       fg=back.bmp, hint=spstory.wav;","
	/IDC_ACTIVITIES=0 0,hot=136 444,	flags=noclip autobutton click notrans, cmd=IDC_ACTIVITIES, fg=activity.bmp, hint=spactivy.wav;","
	/IDC_MAINMENU=0 0,	hot=307 442,	flags=noclip autobutton click notrans, cmd=IDC_MAINMENU,   fg=main.bmp, hint=spmain.wav;","
	/IDC_HELP=0 0,		hot=484 444,	flags=noclip autobutton click notrans, cmd=IDC_HELP,       fg=help.bmp, hint=sphelp.wav;","

	/IDC_LEVEL1OFF=0 0,	hot=603 395,	flags=noclip notrans,cmd=IDC_LEVEL1,show=/IDC_LEVEL1ON,hide=/IDC_LEVEL2ON /IDC_LEVEL3ON,fg=lvl1off.bmp;","
	/IDC_LEVEL2OFF=0 0,  hot=603 359,	flags=noclip notrans,cmd=IDC_LEVEL2,show=/IDC_LEVEL2ON,hide=/IDC_LEVEL1ON /IDC_LEVEL3ON,fg=lvl2off.bmp;","
	/IDC_LEVEL3OFF=0 0,  hot=603 323,	flags=noclip notrans,cmd=IDC_LEVEL3,show=/IDC_LEVEL3ON,hide=/IDC_LEVEL1ON /IDC_LEVEL2ON,fg=lvl3off.bmp;","
	/IDC_LEVEL1ON=0 0,	hot=603 395,	flags=noclip notrans,fg=lvl1on.bmp;","
	/IDC_LEVEL2ON=0 0,  hot=603 359,	flags=noclip invisible notrans,fg=lvl2on.bmp;","
	/IDC_LEVEL3ON=0 0,  hot=603 323,	flags=noclip invisible notrans,fg=lvl3on.bmp;","
",0
}

//***********************************************************************
IDD_HIDESEEK2 SCENE // The logo scene
//***********************************************************************
STAGE ""
PROPS
{					 
	TOONHOLDER()
}


//***********************************************************************
IDD_HIDESEEK2 GAMETABLE
//***********************************************************************
{
"
animalhorsedark=HORSANIM.DIB,animalgoatdark=GOATANIM.DIB,animalsheepdark=SHEEP.BMP,animalduckdark=DUCKANIM.DIB;","
animaldonkeydark=DONKEY.BMP,animalcowdark=COWANIM.DIB,animalcatdark=CATANIM.DIB,animalchickendark=CHICANIM.DIB;","
animalmousedark=MOUSE.BMP;","

animalhorselit=HORSDONE.DIB,animalgoatlit=GOATDONE.DIB,animalsheeplit=LSHEEP.BMP,animalducklit=DUCKDONE.DIB;","
animaldonkeylit=LDONKEY.BMP,animalcowlit=COWDONE.DIB,animalcatlit=CATDONE.DIB,animalchickenlit=CHICDONE.DIB;","
animalmouselit=LMOUSE.BMP;","

animalhorsewave=HORSE.WAV,animalgoatwave=GOAT.WAV,animalsheepwave=SHEEP.WAV,animalduckwave=DUCK.WAV;","
animaldonkeywave=DONKEY.WAV,animalcowwave=COW.WAV,animalcatwave=CAT.WAV,animalchickenwave=CHICKEN.WAV;","
animalmousewave=MOUSE.WAV;","

introwav=intro2.wav,picktime=10;","
successwavs=succ1.wav succ2.wav succ3.wav succ3.wav;","

",0
}

//***********************************************************************
IDD_SPANHIDESEEK2 GAMETABLE
//***********************************************************************
{
"
animalhorsedark=HORSANIM.DIB,animalgoatdark=GOATANIM.DIB,animalsheepdark=SHEEP.BMP,animalduckdark=DUCKANIM.DIB;","
animaldonkeydark=DONKEY.BMP,animalcowdark=COWANIM.DIB,animalcatdark=CATANIM.DIB,animalchickendark=CHICANIM.DIB;","
animalmousedark=MOUSE.BMP;","

animalhorselit=HORSDONE.DIB,animalgoatlit=GOATDONE.DIB,animalsheeplit=LSHEEP.BMP,animalducklit=DUCKDONE.DIB;","
animaldonkeylit=LDONKEY.BMP,animalcowlit=COWDONE.DIB,animalcatlit=CATDONE.DIB,animalchickenlit=CHICDONE.DIB;","
animalmouselit=LMOUSE.BMP;","

animalhorsewave=HORSE.WAV,animalgoatwave=GOAT.WAV,animalsheepwave=SHEEP.WAV,animalduckwave=DUCK.WAV;","
animaldonkeywave=DONKEY.WAV,animalcowwave=COW.WAV,animalcatwave=CAT.WAV,animalchickenwave=CHICKEN.WAV;","
animalmousewave=MOUSE.WAV;","

introwav=spintro2.wav,picktime=10;","
successwavs=spsucc1.wav spsucc2.wav spsucc3.wav spsucc3.wav;","

",0
}

//***********************************************************************
IDD_HIDESEEK2 JUMPTABLE
//***********************************************************************
{
"
	bg=scene19\\backgrni.dib,clip=CL CT CR CB,","

	prev=NOFADE NOCLIP TRANS_NONE,","
	next=NOFADE NOCLIP TRANS_NONE,","
	jump=NOFADE NOCLIP TRANS_NONE;","

	/IDC_BACK=0 0,		hot=7 441,		flags=noclip autobutton click notrans, cmd=IDC_BACK,       fg=back.bmp, hint=story.wav;","
	/IDC_ACTIVITIES=0 0,hot=136 444,	flags=noclip autobutton click notrans, cmd=IDC_ACTIVITIES, fg=activity.bmp, hint=activity.wav;","
	/IDC_MAINMENU=0 0,	hot=307 442,	flags=noclip autobutton click notrans, cmd=IDC_MAINMENU,   fg=main.bmp, hint=mainmenu.wav;","
	/IDC_HELP=0 0,		hot=484 444,	flags=noclip autobutton click notrans, cmd=IDC_HELP,       fg=help.bmp, hint=helphint.wav;","

	/IDC_LEVEL1OFF=0 0,	hot=603 395,	flags=noclip notrans,cmd=IDC_LEVEL1,show=/IDC_LEVEL1ON,hide=/IDC_LEVEL2ON /IDC_LEVEL3ON,fg=lvl1off.bmp;","
	/IDC_LEVEL2OFF=0 0,  hot=603 359,	flags=noclip notrans,cmd=IDC_LEVEL2,show=/IDC_LEVEL2ON,hide=/IDC_LEVEL1ON /IDC_LEVEL3ON,fg=lvl2off.bmp;","
	/IDC_LEVEL3OFF=0 0,  hot=603 323,	flags=noclip notrans,cmd=IDC_LEVEL3,show=/IDC_LEVEL3ON,hide=/IDC_LEVEL1ON /IDC_LEVEL2ON,fg=lvl3off.bmp;","
	/IDC_LEVEL1ON=0 0,	hot=603 395,	flags=noclip invisible notrans,fg=lvl1on.bmp;","
	/IDC_LEVEL2ON=0 0,  hot=603 359,	flags=noclip notrans,fg=lvl2on.bmp;","
	/IDC_LEVEL3ON=0 0,  hot=603 323,	flags=noclip invisible notrans,fg=lvl3on.bmp;","
",0
}

//***********************************************************************
IDD_SPANHIDESEEK2 JUMPTABLE
//***********************************************************************
{
"
	bg=scene19\\backgrni.dib,clip=CL CT CR CB,","

	prev=NOFADE NOCLIP TRANS_NONE,","
	next=NOFADE NOCLIP TRANS_NONE,","
	jump=NOFADE NOCLIP TRANS_NONE;","

	/IDC_BACK=0 0,		hot=7 441,		flags=noclip autobutton click notrans, cmd=IDC_BACK,       fg=back.bmp, hint=spstory.wav;","
	/IDC_ACTIVITIES=0 0,hot=136 444,	flags=noclip autobutton click notrans, cmd=IDC_ACTIVITIES, fg=activity.bmp, hint=spactivy.wav;","
	/IDC_MAINMENU=0 0,	hot=307 442,	flags=noclip autobutton click notrans, cmd=IDC_MAINMENU,   fg=main.bmp, hint=spmain.wav;","
	/IDC_HELP=0 0,		hot=484 444,	flags=noclip autobutton click notrans, cmd=IDC_HELP,       fg=help.bmp, hint=sphelp.wav;","

	/IDC_LEVEL1OFF=0 0,	hot=603 395,	flags=noclip notrans,cmd=IDC_LEVEL1,show=/IDC_LEVEL1ON,hide=/IDC_LEVEL2ON /IDC_LEVEL3ON,fg=lvl1off.bmp;","
	/IDC_LEVEL2OFF=0 0,  hot=603 359,	flags=noclip notrans,cmd=IDC_LEVEL2,show=/IDC_LEVEL2ON,hide=/IDC_LEVEL1ON /IDC_LEVEL3ON,fg=lvl2off.bmp;","
	/IDC_LEVEL3OFF=0 0,  hot=603 323,	flags=noclip notrans,cmd=IDC_LEVEL3,show=/IDC_LEVEL3ON,hide=/IDC_LEVEL1ON /IDC_LEVEL2ON,fg=lvl3off.bmp;","
	/IDC_LEVEL1ON=0 0,	hot=603 395,	flags=noclip invisible notrans,fg=lvl1on.bmp;","
	/IDC_LEVEL2ON=0 0,  hot=603 359,	flags=noclip notrans,fg=lvl2on.bmp;","
	/IDC_LEVEL3ON=0 0,  hot=603 323,	flags=noclip invisible notrans,fg=lvl3on.bmp;","
",0
}

//***********************************************************************
IDD_HIDESEEK3 SCENE // The logo scene
//***********************************************************************
STAGE ""
PROPS
{					 
	TOONHOLDER()
}

//***********************************************************************
IDD_HIDESEEK3 GAMETABLE
//***********************************************************************
{
"
animalhorsedark=HORSANIM.DIB,animalgoatdark=GOATANIM.DIB,animalsheepdark=SHEEP.BMP,animalduckdark=DUCKANIM.DIB;","
animaldonkeydark=DONKEY.BMP,animalcowdark=COWANIM.DIB,animalcatdark=CATANIM.DIB,animalchickendark=CHICANIM.DIB;","
animalmousedark=MOUSE.BMP;","

animalhorselit=HORSDONE.DIB,animalgoatlit=GOATDONE.DIB,animalsheeplit=LSHEEP.BMP,animalducklit=DUCKDONE.DIB;","
animaldonkeylit=LDONKEY.BMP,animalcowlit=COWDONE.DIB,animalcatlit=CATDONE.DIB,animalchickenlit=CHICDONE.DIB;","
animalmouselit=LMOUSE.BMP;","

animalhorsewave=HORSE.WAV,animalgoatwave=GOAT.WAV,animalsheepwave=SHEEP.WAV,animalduckwave=DUCK.WAV;","
animaldonkeywave=DONKEY.WAV,animalcowwave=COW.WAV,animalcatwave=CAT.WAV,animalchickenwave=CHICKEN.WAV;","
animalmousewave=MOUSE.WAV;","

introwav=intro3.wav,picktime=10;","
successwavs=succ1.wav succ2.wav succ3.wav succ3.wav;","

",0
}

//***********************************************************************
IDD_SPANHIDESEEK3 GAMETABLE
//***********************************************************************
{
"
animalhorsedark=HORSANIM.DIB,animalgoatdark=GOATANIM.DIB,animalsheepdark=SHEEP.BMP,animalduckdark=DUCKANIM.DIB;","
animaldonkeydark=DONKEY.BMP,animalcowdark=COWANIM.DIB,animalcatdark=CATANIM.DIB,animalchickendark=CHICANIM.DIB;","
animalmousedark=MOUSE.BMP;","

animalhorselit=HORSDONE.DIB,animalgoatlit=GOATDONE.DIB,animalsheeplit=LSHEEP.BMP,animalducklit=DUCKDONE.DIB;","
animaldonkeylit=LDONKEY.BMP,animalcowlit=COWDONE.DIB,animalcatlit=CATDONE.DIB,animalchickenlit=CHICDONE.DIB;","
animalmouselit=LMOUSE.BMP;","

animalhorsewave=HORSE.WAV,animalgoatwave=GOAT.WAV,animalsheepwave=SHEEP.WAV,animalduckwave=DUCK.WAV;","
animaldonkeywave=DONKEY.WAV,animalcowwave=COW.WAV,animalcatwave=CAT.WAV,animalchickenwave=CHICKEN.WAV;","
animalmousewave=MOUSE.WAV;","

introwav=spintro3.wav,picktime=10;","
successwavs=spsucc1.wav spsucc2.wav spsucc3.wav spsucc3.wav;","

",0
}

//***********************************************************************
IDD_HIDESEEK3 JUMPTABLE
//***********************************************************************
{
"
	bg=scene19\\backgrni.dib,clip=CL CT CR CB,","

	prev=NOFADE NOCLIP TRANS_NONE,","
	next=NOFADE NOCLIP TRANS_NONE,","
	jump=NOFADE NOCLIP TRANS_NONE;","

	/IDC_BACK=0 0,		hot=7 441,		flags=noclip autobutton click notrans, cmd=IDC_BACK,       fg=back.bmp, hint=story.wav;","
	/IDC_ACTIVITIES=0 0,hot=136 444,	flags=noclip autobutton click notrans, cmd=IDC_ACTIVITIES, fg=activity.bmp, hint=activity.wav;","
	/IDC_MAINMENU=0 0,	hot=307 442,	flags=noclip autobutton click notrans, cmd=IDC_MAINMENU,   fg=main.bmp, hint=mainmenu.wav;","
	/IDC_HELP=0 0,		hot=484 444,	flags=noclip autobutton click notrans, cmd=IDC_HELP,       fg=help.bmp, hint=helphint.wav;","

	/IDC_LEVEL1OFF=0 0,	hot=603 395,	flags=noclip notrans,cmd=IDC_LEVEL1,show=/IDC_LEVEL1ON,hide=/IDC_LEVEL2ON /IDC_LEVEL3ON,fg=lvl1off.bmp;","
	/IDC_LEVEL2OFF=0 0,  hot=603 359,	flags=noclip notrans,cmd=IDC_LEVEL2,show=/IDC_LEVEL2ON,hide=/IDC_LEVEL1ON /IDC_LEVEL3ON,fg=lvl2off.bmp;","
	/IDC_LEVEL3OFF=0 0,  hot=603 323,	flags=noclip notrans,cmd=IDC_LEVEL3,show=/IDC_LEVEL3ON,hide=/IDC_LEVEL1ON /IDC_LEVEL2ON,fg=lvl3off.bmp;","
	/IDC_LEVEL1ON=0 0,	hot=603 395,	flags=noclip invisible notrans,fg=lvl1on.bmp;","
	/IDC_LEVEL2ON=0 0,  hot=603 359,	flags=noclip invisible notrans,fg=lvl2on.bmp;","
	/IDC_LEVEL3ON=0 0,  hot=603 323,	flags=noclip notrans,fg=lvl3on.bmp;","
",0
}

//***********************************************************************
IDD_SPANHIDESEEK3 JUMPTABLE
//***********************************************************************
{
"
	bg=scene19\\backgrni.dib,clip=CL CT CR CB,","

	prev=NOFADE NOCLIP TRANS_NONE,","
	next=NOFADE NOCLIP TRANS_NONE,","
	jump=NOFADE NOCLIP TRANS_NONE;","

	/IDC_BACK=0 0,		hot=7 441,		flags=noclip autobutton click notrans, cmd=IDC_BACK,       fg=back.bmp, hint=spstory.wav;","
	/IDC_ACTIVITIES=0 0,hot=136 444,	flags=noclip autobutton click notrans, cmd=IDC_ACTIVITIES, fg=activity.bmp, hint=spactivy.wav;","
	/IDC_MAINMENU=0 0,	hot=307 442,	flags=noclip autobutton click notrans, cmd=IDC_MAINMENU,   fg=main.bmp, hint=spmain.wav;","
	/IDC_HELP=0 0,		hot=484 444,	flags=noclip autobutton click notrans, cmd=IDC_HELP,       fg=help.bmp, hint=sphelp.wav;","

	/IDC_LEVEL1OFF=0 0,	hot=603 395,	flags=noclip notrans,cmd=IDC_LEVEL1,show=/IDC_LEVEL1ON,hide=/IDC_LEVEL2ON /IDC_LEVEL3ON,fg=lvl1off.bmp;","
	/IDC_LEVEL2OFF=0 0,  hot=603 359,	flags=noclip notrans,cmd=IDC_LEVEL2,show=/IDC_LEVEL2ON,hide=/IDC_LEVEL1ON /IDC_LEVEL3ON,fg=lvl2off.bmp;","
	/IDC_LEVEL3OFF=0 0,  hot=603 323,	flags=noclip notrans,cmd=IDC_LEVEL3,show=/IDC_LEVEL3ON,hide=/IDC_LEVEL1ON /IDC_LEVEL2ON,fg=lvl3off.bmp;","
	/IDC_LEVEL1ON=0 0,	hot=603 395,	flags=noclip invisible notrans,fg=lvl1on.bmp;","
	/IDC_LEVEL2ON=0 0,  hot=603 359,	flags=noclip invisible notrans,fg=lvl2on.bmp;","
	/IDC_LEVEL3ON=0 0,  hot=603 323,	flags=noclip notrans,fg=lvl3on.bmp;","
",0
}
