<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DBService" connectionString="Data Source=sql2k801.discountasp.net;Initial Catalog=SQL2008_539371_facetoface;Persist Security Info=True;User ID=SQL2008_539371_facetoface_user;Password=7202jimm" providerName="System.Data.SqlClient"/>
    <add name="OleDBService" connectionString="Provider=SQLOLEDB;Data Source=tcp:sql2k801.discountasp.net;Initial Catalog=SQL2008_539371_facetoface;User ID=SQL2008_539371_facetoface_user;Password=7202jimm;"/>
  </connectionStrings>
  <system.web>
    <!--<trace enabled="true" localOnly="false" pageOutput="true"/>-->
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <!-- Fix issues related to authentication web services in a hosted environment; http://community.discountasp.net/showthread.php?t=9562 -->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
    <bindings>
      <basicHttpBinding>
        <binding name="userHttp">
          <!-- this is for demo only. Https/Transport security is recommended -->
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_DBService">
          <binaryMessageEncoding maxReadPoolSize="2048" maxWritePoolSize="2048" maxSessionSize="2048">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <!-- To avoid disclosing metadata information, set httpGetEnabled="false" below to false and remove the metadata endpoint above before deployment -->
      <!-- To receive exception details in faults for debugging purposes, set includeExceptionDetailInFaults="true". Set to false before deployment to avoid disclosing exception information -->
      <serviceBehaviors>
        <behavior name="DBServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="DBService.DBService" behaviorConfiguration="DBServiceBehavior">
        <endpoint address="" binding="customBinding" bindingConfiguration="CustomBinding_DBService" contract="DBService.DBService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>