<?xml version="1.0"?>
<!--
	Note: As an alternative to hand editing this file you can use the 
	web admin tool to configure settings for your application. Use
	the Website->Asp.Net Configuration option in Visual Studio.
	A full list of settings and comments can be found in 
	machine.config.comments usually located in 
	\Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="MyConnectionString" value="provider=MSDASQL.1;driver={MySQL ODBC 3.51 Driver};server=facetofacesoftwa.ipowermysql.com;database=facetofa_mysql;uid=facetofa_jim;pwd=7202jimm;" />
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!--
			Set compilation debug="true" to insert debugging 
			symbols into the compiled page. Because this 
			affects performance, set this value to true only 
			during development.
		-->
		<trace enabled="true" localOnly="false" pageOutput="true" />
		<compilation defaultLanguage="c#" debug="true" />
		<customErrors mode="Off" />
		<!--
			The <authentication> section enables configuration 
			of the security authentication mode used by 
			ASP.NET to identify an incoming user. 
		-->
		<authentication mode="Windows"/>
	</system.web>
	<system.codedom />
	<!--
		The system.webServer section is required for running ASP.NET AJAX under Internet
		Information Services 7.0.  It is not necessary for previous version of IIS.
	-->
	<system.webServer />
	<system.serviceModel>
		<services>
			<service name="FutureMoneyWebServices.DBService" behaviorConfiguration="FutureMoneyWebServices.DBServiceBehavior">
				<endpoint address="" binding="basicHttpBinding" contract="FutureMoneyWebServices.IDBService">
					<!--
						Upon deployment, the following identity element should be removed or replaced to reflect the 
						identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
						automatically.
					-->
					<!--
					<identity>
						<dns value="localhost"/>
					</identity>
					-->
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="FutureMoneyWebServices.DBServiceBehavior">
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
