#include "windows.h"
#include "resource.h"
#include "commonid.h"
#include "control.h"

//***********************************************************************
stringtable LMD	 
//***********************************************************************
	{
    IDS_CLASS,	"autorun"
    IDS_TITLE,	"Powerhouse Autorun Program"
	}

1 icon LMD autorun.ico

