;
; menu help messages
;
4198,			"Application system Menu"
4118,			"File Menu"
IDM_NEW,		"Create a new (blank) image"
IDM_OPEN,		"Open an image file"
IDM_SAVE,		"Save the open image with the same"
IDM_SAVEAS,		"Save the open image under a different name or type"
IDM_REVERT,		"Revert back to the last saved version of the image"
4122,			"Recall files Menu"
IDM_RECALLIMAGE0,	"Recall and open a recently used image"
IDM_RECALLIMAGE1,	"Recall and open a recently used image"
IDM_RECALLIMAGE2,	"Recall and open a recently used image"
IDM_RECALLIMAGE3,	"Recall and open a recently used image"
IDM_RECALLIMAGE4,	"Recall and open a recently used image"
IDM_PRINT,		"Print the image"
IDM_SCAN,		"Scan in an image"
IDM_GRAB,		"Grab an image from an external device"
IDM_CLOSE,		"Exit Picture Publisher"
IDM_HANDSCAN,		"Scan from a hand scanner"
4126,			"Setup Menu"
IDM_PRINTSETUP,		"Setup your printer defaults or choose a printer"
IDM_SCANSETUP,		"Setup your scanner port address"
IDM_GRABSETUP,		"Setup your external device"
4130,			"Edit Menu"
IDM_UNDO,		"Undo the last edits"
IDM_APPLY,		"Apply all pending changes"
IDM_CUT,		"Cut the masked object to the clipboard"
IDM_COPY,		"Copy the masked object to the Windows clipboard"
IDM_COPYTOFILE,		"Copy the masked object to a clipboard, a texture, or a brush"
IDM_PASTE,		"Paste the Windows clipboard object onto the image"
IDM_PASTEFROMFILE,	"Paste the named clipboard object onto the image"
IDM_DELETE,		"Delete the area inside of the mask"
IDM_PASTEOPTIONS,	"Setup defaults for paste operations"
IDM_PREF,		"Save your preferences in the pp.ini file"
4134,			"Map Menu"
IDM_MAP,		"Modify any color map"
IDM_CONTBRIT,		"Adjust the contrast and brightness"
IDM_POSTERIZE,		"Change the no. of levels or threshold of the image"
IDM_HUE,		"Adjust the hues and satuation of the image"
IDM_QUARTERTONE,	"Place your hilight and shadow markers"
4138,			"Mask Menu"
IDM_MASKREMOVE,		"Remove the mask from the image"
IDM_MASKALL,		"Remove any mask and create a maks around the entire image"
IDM_MASKLOAD,		"Load a mask from disk"
IDM_MASKSAVE,		"Save a mask to disk"
IDM_CROP,		"Crop the image to the boundaries of the mask"
IDM_BLEND,		"Blend the image inside and outside the mask outline"
4142,			"Effects Menu"
IDM_SIZE,		"Change the horizontal or vertical size of the image"
4146,			"Rotate Menu"
IDM_ROTATE90,		"Rotate the entire image clockwise 90 degrees"
IDM_ROTATE180,		"Rotate the entire image 180 degrees"
IDM_ROTATE270,		"Rotate the entire image clockwise 270 degrees"
IDM_ROTATEANY,		"Rotate the entire image at any angle"
4150,			"Mirror Menu"
IDM_MIRRORY,		"Mirror the image top to bottom"
IDM_MIRRORX,		"Mirror the image left to right"
IDM_MIRRORXY,		"Mirror the image top to bottom and left to right"
IDM_INVERT,		"Invert the pixels in the image"
IDM_SMOOTH,		"Use a Smooth filter on the image"
IDM_SHARPEN,		"Use a Sharpen filter on the image"
IDM_EDGEDETECT,		"Use an Edge detection filter on the image"
IDM_SPECIALFX,		"Use an Special effect filter on the image"
4154,			"Window Menu"
IDM_NEWWINDOW,		"Create a duplicate viewing window of the active image"
4158,			"Show/hide Menu"
IDM_SCRATCHPAD,		"Show or hide the scratchpad"
IDM_TOOLSHOW,		"Show or hide the tools palette"
IDM_STATUSSHOW,		"Show or hide the status bar"
;IDM_PALETTESHOW,	"Show or hide the color palette"
;IDM_SHIELDSHOW,	"Show or hide the color shield"
IDM_CLIPBOARDSHOW,	"Show or hide the clipboard icons"
4162,			"Arrange Menu"
IDM_ARRANGEICONS,	"Arrange all icon windows along the bottom"
IDM_TILE,		"Arrange all images in a tiled manner"
IDM_CASCADE,		"Arrange all images in a cascading manner"
IDM_RUN,		"Run an application"
IDM_CLOSEALL,		"Close all of the image windows"
4166,			"Help Menu"
IDM_HELP_INDEX,		"Get a program Help index"
IDM_HELP_KEYBOARD,	"Get Help on Accelerator keys"
IDM_HELP_COMMANDS,	"Get Help on the Command set"
IDM_HELP_PROCEDURES,	"Get Help on program procedures"
IDM_HELP_INTRO,		"Get an Introduction to Using Help"
IDM_TUTORIAL,		"Run a recorded tutorial"
IDM_ABOUT,		"Get version information"
;
; tool help messages
;
;;;IDC_ACTIVETOOL,		"Click here to bring up options for the active tool"
; retouch
IDC_RETOUCH,		"Click here to popup the Retouch tools"
IDC_PAINT,		"Paint tool"
IDC_SPRAY,		"Airbrush tool"
IDC_CLONE,		"Clone tool"
IDC_TEXTURE,		"Texture tool"
IDC_SMEAR,		"Smear tool"
; filter
IDC_FILTER,		"Click here to popup the Filter tools"
IDC_SHARP,		"Sharpen tool"
IDC_SMOOTH,		"Smooth tool"
IDC_LIGHTEN,		"Lighten tool"
IDC_DARKEN,		"Darken tool"
; fill
IDC_FILL,		"Click here to popup the Fill tools"
IDC_VIGNETTE,		"Gradient fill tool"
IDC_TEXTUREFILL,	"Texture fill tool"
IDC_TINTFILL,		"Color Tint fill tool"
IDC_FLOOD,		"Smart fill tool"
; draw
IDC_DRAW,		"Click here to popup the Draw tools"
IDC_PENCIL,		"Pencil tool"
IDC_DRAWSQUARE,		"Rectangular shape drawing tool"
IDC_DRAWCIRCLE,		"Elliptical shape drawing tool"
IDC_DRAWFREE,		"Freehand shape drawing tool"
; mask
IDC_MASK,		"Click here to popup the Masking tools"
IDC_SQUARE,		"Rectangular mask tool"
IDC_CIRCLE,		"Elliptical mask tool"
IDC_FREE,		"Freehand mask tool"
IDC_MAGICWAND,		"Smart mask tool"
IDC_SHIELD,		"Color shield mask tool"
IDC_TRANSFORMER,	"Mask transform tool"
IDC_POINTER,		"Mask point editing tool"
; view
IDC_CUSTOMVIEW,		"Custom view tool"
IDC_GRABBER,		"Grabber tool"
IDC_VIEW1TO1,		"View the image at actual size"
IDC_VIEWALL,		"View the full image"
IDC_VIEWLAST,		"Return to the previous view of the image"
; misc.
IDC_TEXT,		"Text tool"
IDC_ERASER,		"Eraser tool"
IDC_PROBE,		"Color probe tool"
IDC_ACTIVECOLOR,	"The %lscolor is RGB (%d,%d,%d)"

