#include "id.h"

//BROWSER
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
//file search strings
IDT_SCITEX              ".sct"
IDT_TIFF                ".tif"
IDT_TARGA               ".tga"
IDT_GIF                 ".gif"
IDT_BMP                 ".bmp"
IDT_DIB                 ".dib"
IDT_PCX                 ".pcx"
IDT_EPS                 ".eps"
IDT_DCS                 ".dcs"
IDT_JPEG                ".jpg"
IDT_PHOTOCD   		    ".pcd"
IDT_AVI                 ".avi"
IDT_PPCOMPOUND          ".ppf"
IDT_PP                  ".pp5"
IDT_PP4                 ".pp4"
IDT_ALLFILES  		    ".*"
IDT_ALLIMAGES 		    "*.tif,*.bmp,*.tga..."
                                                
// imported file search strings
IDT_AI                  ".ai"
IDT_CDR                 ".cdr"
IDT_CGM                 ".cgm"
IDT_DRW                 ".drw"
IDT_WMF                 ".wmf"

// for .ini save path
IDS_ALLIMAGES           ".ALL"
IDS_ALLFILES            ".ALL"
IDS_ALLIMPORTFILES      ".ALL"
IDS_ALLIMPORTIMAGES     ".ALL"
                        								
//      message box messages
IDS_TRUNCATE            "File name '%s' \nis too long.\nWill truncate to '%s'."
IDS_NEW_ALB             "Enter Album Name"
IDS_DELETEALB           "Are you sure want to delete\nalbum '%s'?"
IDS_RENAMEALB           "Rename album '%s'\n to \n."
IDS_SAVEDESCR           "Description has not been saved.\n  Ok to save it now?"
IDS_NOALB               "No Selected Album."
IDS_ALB_EXISTS          "Album '%s' already exists."
IDS_BADNAME             "Not a valid file name."
IDS_BADALBNAME          "Not a valid album name"
IDS_SAVE_TOOMANY        "Choose one file for save."
IDS_NAME_AMBIGUOUS      "There is more than one file by \nthat name in the album."
IDS_RENAMEALB_CONF      "Ok to rename album '%s'\n to '%s'?"
IDS_VIEWALB             "Vie&w Albums"
IDS_VIEWDIR             "Vie&w Directories"
IDS_VIEWTHUMBS          "&View Thumbnails"
IDS_VIEWFILES           "&View File Names"
IDS_BSR_ERROR           "Error: Unable To Complete Operation."
IDS_EDELETETHUMBNAIL    "Error deleting thumbnail file."

IDS_ERENAMETHUMBNAIL    "Error renaming thumbnail file.\n Thumb may have been lost."
IDS_ECOPYTHUMBNAIL      "Error copying thumbnail file."
IDS_CONFIRMRENAME       "Ok to rename file '%s'\n to '%s'?"
IDS_ECOPY_SELF		    "Error copying %s.\nCannot copy file to itself.\n   Continue?"
IDS_EMOVE_SELF		    "Error moving %s.\nCannot move file to itself.\n   Continue?"
IDS_ERENAME_SELF	    "Error renaming '%s'.\nCannot rename file to itself."
IDS_GETRENAMENAME       "Rename file '%s'\n to file:"
IDS_GETCOPYNAME         "Copy File:\n '%s'\n to new file:"
IDS_GETCOPYDIR          "Copy File(s):\n '%s'\n to directory:"
IDS_EINVALIDDIR         "'%s' is an invalid directory."
IDS_CONFIRMCOPY         "Ok to copy file:\n %s\n to:\n %s?"
IDS_EACCES              "Error: Destination file exists or is unwriteable."
IDS_EMOVETHUMBNAIL      "Error moving thumbnail for\nfile '%s'."
IDS_GETMOVENAME         "Move File:\n '%s'\n to new file:"
IDS_GETMOVEDIR          "Move File(s):\n '%s'\n to directory:"
IDS_CONFIRMMOVE         "Ok to move file:\n '%s'\n to:\n '%s'"
IDS_EMOVE               "Error moving file from \n '%s'\nto\n '%s'.\n\nContinue?"
IDS_GETNEWDIR           "Enter New Directory Path and Name:"
IDS_CONFIRMNEWDIR       "Ok to create new directory '%s'"
IDS_ENEWDIR             "Error creating directory '%s'."
IDS_NODELETE            "Error deleting file '%s'."
IDS_ECOPYCROSSDRIVE     "Can not move files across drives.\n Use Copy."
IDS_GETRENAMEDIR        "Rename Directory:\n %s\n to Directory:"
IDS_CONFIRMRENAMEDIR    "Ok to rename Directory '%s'\nto '%s'."
IDS_ERENAMEDIR          "Error renaming Directory from '%s'\nto '%s'."
IDS_CONFIRMDELETEDIR    "Are you sure you want to delete\ndirectory '%s'?"
IDS_EDELETEDIR          "Error deleting directory '%s'."
IDS_ECHANGETHUMBS    	"Error in thumbnail data base.\n Thumbnails or album entries may have been lost"
IDS_SEARCH_EWRITEDBF    "Error adding file to search results.\n Results may not contain matching file '%s'."
IDS_SEARCH_ERROR        "Error creating results album.\n Results may be missing or inaccurate."
IDS_NOTHUMB             "No Preview"
IDS_SEARCH_BUTTON       "&Search"
IDS_STOP_BUTTON         "&Stop"
IDS_BSR_INFOSIZE        "%ld pixels (%s %s)"
IDS_BSR_INFORES         "%ld pixels/inch"
IDS_SEARCH_DIRS		    "Directories Searched"
IDS_SEARCH_FILES		"Files Searched"
IDS_SEARCH_DONE			"Search Successful.\nView Results?"
IDS_SEARCH_FAILED		"No Matches Found."

IDS_CONF_DELETETHM	        "Ok to delete thumbnails for selected files?"
IDS_OVERWRITE               "Destination file %s exists.\n   Ok to overwrite?"
IDS_ECANTDELETE 		    "Error deleting file '%s'"
IDS_NO_ALBUMS_HERE 	        "There are no albums to import at\n '%s'"
IDS_IMPORT_FILEOVERWRITE    "'%s' already exists.\nOK to replace with '%s'?"
IDS_ALBUM_ALREADY_HERE      "The album '%s' already exists at\n '%s'.\nOK to replace?"

IDS_NO_DESCRIPTION          "Type Keyword Here"
IDS_FILEOPEN_TITLE   	    "ImageBrowser"
IDS_FILEOPEN_BUTTON   	    "&Open"
IDS_FILESAVE_TITLE    	    "ImageBrowser"
IDS_FILESAVE_BUTTON  	    "&Save"
IDS_FILEADD_TITLE    	    "Add FileBrowser"
IDS_FILEADD_BUTTON   	    "&Add"
IDS_FILEIMPORT_TITLE        "ImportBrowser"
IDS_FILEIMPORT_BUTTON       "&Import"

IDS_DIREXPORT_DUPLICATE     "Database found in the directory '%s'.\n Ok to delete it?\n"
IDS_DIREXPORT_DUPTHUMBS     "Thumbnails found in the directory '%s'.\n Ok to delete them?\n"
IDS_DIRIMPORT_DUPLICATE     "There is already a database for the\n directory '%s'.\n Ok to overwrite it?\n"
IDS_BADFILE                 "'%s' does not exist."
IDS_READONLY				"File '%s' is Read Only."
IDS_INVALIDNAME			    "'%s' is not a valid file name."
	
END
