#include "id.h"
#include "dlgfont.h"

IDD_STITCHCONFIRM DIALOG 100, 47, 105, 184
STYLE WS_POPUP | WS_CAPTION
CAPTION "Stitch Options"
FONT PP_FONT
BEGIN
	CONTROL "TTTTTTTT.TTT", IDC_STITCHIMAGE1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 5, 6, 47, 8
	CONTROL "Transform", IDC_STITCHTRANS1, RADIO_CLASS, RADIO_STYLE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 53, 4, 46, 12
	CONTROL "TTTTTTTT.TTT", IDC_STITCHIMAGE2, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 5, 20, 47, 8
	CONTROL "Transform", IDC_STITCHTRANS2, RADIO_CLASS, RADIO_STYLE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 53, 18, 46, 12
	CONTROL "100", IDC_STITCHPRESSURE, "stext", 0x102 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 31, 52, 12, 8
	CONTROL "100", IDC_STITCHBRIGHTNESS, "stext", 0x102 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 31, 107, 13, 8
	CONTROL "-100", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 5, 131, 17, 8
	CONTROL "100", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 87, 131, 12, 8
	CONTROL "percent", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 46, 107, 28, 8
	CONTROL "percent", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 45, 52, 28, 8
	CONTROL "0", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 5, 76, 5, 8
	CONTROL "100", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 87, 76, 12, 8
	CONTROL "Blend Sea&m", IDC_STITCHBLEND, CHECK_CLASS, CHECK_STYLE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 26, 39, 53, 12
	CONTROL "0 0 100 1 10 10", IDC_STITCHPRESSURE_SCROLL, TRACKBAR_CLASS, TRACKBAR_STYLE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 62, 94, 14
	CONTROL "Adjust &Brightness", IDC_AUTOBRIGHTNESS, CHECK_CLASS, CHECK_STYLE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 94, 70, 12
	CONTROL "0 0 100 1 10 10", IDC_STITCHBRIGHTNESS_SCROLL, TRACKBAR_CLASS, TRACKBAR_STYLE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 117, 93, 14
	CONTROL "High-&Quality Transform", IDC_SMARTSTITCH, CHECK_CLASS, CHECK_STYLE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 148, 89, 12
	DEFPUSHBUTTON "&Stitch", IDOK, 11, 167, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 53, 167, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 105, 35
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 35, 105, 54
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 89, 105, 55
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 144, 105, 19
	CONTROL "", -1, "panel", 1 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 163, 105, 21
END


IDD_SIZE DIALOG 27, 23, 122, 163
STYLE WS_POPUP | WS_CAPTION
CAPTION "Size Image"
FONT PP_FONT
BEGIN
	LTEXT "&Width", -1, 5, 6, 28, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "12345", IDC_WIDTH, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 44, 4, 32, 12
	CONTROL "", IDC_WIDTH, UPDOWN_CLASS, UPDOWN_FIXEDSTYLE | WS_CHILD | WS_VISIBLE, 70, 4, 6, 12
	CONTROL "", IDC_PREF_UNITS, "COMBOBOX", CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 4, 36, 55
	LTEXT "&Height", -1, 5, 21, 27, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "12345", IDC_HEIGHT, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 44, 19, 32, 12
	CONTROL "", IDC_HEIGHT, UPDOWN_CLASS, UPDOWN_FIXEDSTYLE | WS_CHILD | WS_VISIBLE, 70, 19, 6, 12
	CONTROL "inches", IDC_HEIGHTLABEL, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 80, 21, 39, 8
	LTEXT "WSca&le", -1, 5, 36, 27, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "12345", IDC_SCALEX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 44, 33, 32, 12
	CONTROL "", IDC_SCALEX, UPDOWN_CLASS, UPDOWN_INTSTYLE | WS_CHILD | WS_VISIBLE, 70, 33, 6, 12
	CONTROL "percent", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 80, 34, 39, 8
	LTEXT "HS&cale", -1, 5, 51, 29, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "12345", IDC_SCALEY, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 44, 48, 32, 12
	CONTROL "", IDC_SCALEY, UPDOWN_CLASS, UPDOWN_INTSTYLE | WS_CHILD | WS_VISIBLE, 70, 48, 6, 12
	CONTROL "percent", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 80, 49, 39, 8
	LTEXT "&Resolution", -1, 5, 65, 35, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "12345", IDC_RES, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 44, 63, 32, 12
	CONTROL "", IDC_RES, UPDOWN_CLASS, UPDOWN_INTSTYLE | WS_CHILD | WS_VISIBLE, 70, 63, 6, 12
	CONTROL "ppi", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 80, 64, 39, 8
	CONTROL "Image Size", -1, "stext", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 5, 85, 39, 8
	CONTROL "9999MB", IDC_MEMORY, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 44, 85, 39, 8
	CONTROL "Allow Size &Distortions", IDC_DISTORT, CHECK_CLASS, CHECK_STYLE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 103, 85, 12
	CONTROL "&Use SmartSizing", IDC_SMARTSIZE, CHECK_CLASS, CHECK_STYLE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 114, 85, 12
	CONTROL "&Maintain File Size", IDC_MAINTAINSIZE, CHECK_CLASS, CHECK_STYLE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 126, 85, 12
	DEFPUSHBUTTON "&Size", IDOK, 20, 146, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 62, 146, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "inches", IDC_PREF_UNITINCHES, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_GROUP, 128, 40, 24, 14
	CONTROL "mm", IDC_PREF_UNITMM, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_GROUP, 155, 41, 24, 14
	CONTROL "cm", IDC_PREF_UNITCM, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_GROUP, 184, 40, 24, 14
	CONTROL "picas", IDC_PREF_UNITPICAS, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_GROUP, 214, 40, 24, 14
	CONTROL "pixels", IDC_PREF_UNITPIXELS, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_GROUP, 130, 61, 24, 14
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 122, 80
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 80, 122, 18
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 98, 122, 44
	CONTROL "", -1, "panel", 0x001 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 142, 122, 21
END


IDD_ROTATE DIALOG 53, 40, 104, 77
STYLE WS_POPUP | WS_CAPTION
CAPTION "Rotate Image"
FONT PP_FONT
BEGIN
	LTEXT "&Angle", -1, 5, 7, 26, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "-360.9", IDC_ANGLE, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 40, 5, 33, 12
	CONTROL "", IDC_ANGLE, UPDOWN_CLASS, UPDOWN_FIXEDSTYLE | WS_CHILD | WS_VISIBLE, 67, 5, 6, 12
	CONTROL "degrees", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 76, 7, 22, 8
	LTEXT "&Direction", -1, 5, 22, 30, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_CWISE, "icon", 0 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 40, 20, 14, 14
	CONTROL "", IDC_CCWISE, "icon", 0 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 54, 20, 14, 14
	CONTROL "Use &Weighted Averaging", IDC_SMARTSIZE, CHECK_CLASS, CHECK_STYLE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 41, 96, 12
	DEFPUSHBUTTON "&Rotate", IDOK, 10, 60, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 53, 60, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 104, 38
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 38, 104, 18
	CONTROL "", -1, "panel", 0x001 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 56, 104, 21
END


IDD_EXPAND DIALOG 23, 28, 122, 159
STYLE WS_POPUP | WS_CAPTION
CAPTION "Expand Image"
FONT PP_FONT
BEGIN
	LTEXT "&Width", -1, 5, 7, 20, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "12345", IDC_WIDTH, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 44, 4, 32, 12
	CONTROL "", IDC_WIDTH, UPDOWN_CLASS, UPDOWN_FIXEDSTYLE | WS_CHILD | WS_VISIBLE, 70, 4, 6, 12
	CONTROL "", IDC_PREF_UNITS, "COMBOBOX", CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 81, 4, 36, 55
	LTEXT "&Height", -1, 5, 21, 27, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "12345", IDC_HEIGHT, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 44, 19, 32, 12
	CONTROL "", IDC_HEIGHT, UPDOWN_CLASS, UPDOWN_FIXEDSTYLE | WS_CHILD | WS_VISIBLE, 70, 19, 6, 12
	CONTROL "inches", IDC_HEIGHTLABEL, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 81, 21, 34, 8
	LTEXT "&Left", -1, 5, 41, 27, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "12345", IDC_EXPANDLEFT, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 44, 40, 32, 12
	CONTROL "", IDC_EXPANDLEFT, UPDOWN_CLASS, UPDOWN_FIXEDSTYLE | WS_CHILD | WS_VISIBLE, 70, 40, 6, 12
	CONTROL "percent", IDC_LEFTLABEL, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 81, 41, 34, 8
	LTEXT "&Right", -1, 5, 56, 29, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "12345", IDC_EXPANDRIGHT, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 44, 55, 32, 12
	CONTROL "", IDC_EXPANDRIGHT, UPDOWN_CLASS, UPDOWN_FIXEDSTYLE | WS_CHILD | WS_VISIBLE, 70, 55, 6, 12
	CONTROL "percent", IDC_RIGHTLABEL, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 81, 56, 32, 8
	CONTROL "Image Size", -1, "stext", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 5, 125, 39, 8
	CONTROL "9999MB", IDC_MEMORY, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 44, 125, 39, 8
	LTEXT "&Top", -1, 5, 71, 27, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "12345", IDC_EXPANDTOP, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 44, 70, 32, 12
	CONTROL "", IDC_EXPANDTOP, UPDOWN_CLASS, UPDOWN_FIXEDSTYLE | WS_CHILD | WS_VISIBLE, 70, 70, 6, 12
	CONTROL "percent", IDC_TOPLABEL, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 81, 71, 34, 8
	LTEXT "&Bottom", -1, 5, 86, 29, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "12345", IDC_EXPANDBOTTOM, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 44, 85, 32, 12
	CONTROL "", IDC_EXPANDBOTTOM, UPDOWN_CLASS, UPDOWN_FIXEDSTYLE | WS_CHILD | WS_VISIBLE, 70, 85, 6, 12
	CONTROL "percent", IDC_BOTTOMLABEL, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 81, 86, 34, 8
	CONTROL "inches", IDC_PREF_UNITINCHES, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_GROUP, 130, 40, 24, 14
	CONTROL "mm", IDC_PREF_UNITMM, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_GROUP, 157, 41, 24, 14
	CONTROL "cm", IDC_PREF_UNITCM, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_GROUP, 186, 40, 24, 14
	CONTROL "picas", IDC_PREF_UNITPICAS, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_GROUP, 216, 40, 24, 14
	CONTROL "pixels", IDC_PREF_UNITPIXELS, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_GROUP, 132, 61, 24, 14
	LTEXT "&Color", -1, 5, 107, 30, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_FILLINCOLOR, "color", 0 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 44, 104, 32, 12
	DEFPUSHBUTTON "&Expand", IDOK, 20, 142, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 62, 142, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 122, 35
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 35, 122, 66
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 120, 122, 18
	CONTROL "", -1, "panel", 0x001 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 138, 122, 21
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 101, 122, 19
END


IDD_CONVERTTO DIALOG 24, 28, 133, 103
STYLE WS_POPUP | WS_CAPTION
CAPTION "Convert To Palette Color"
FONT PP_FONT
BEGIN
	LTEXT "Image &Type", -1, 5, 7, 42, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_MINITYPES, "COMBOBOX", CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 52, 5, 76, 44
	LTEXT "N&umber of Colors", -1, 23, 22, 58, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT IDC_PALETTECOLORS, 83, 20, 26, 12
	CONTROL "", IDC_PALETTECOLORS, UPDOWN_CLASS, UPDOWN_INTSTYLE | WS_CHILD | WS_VISIBLE, 103, 20, 6, 12
	LTEXT "&Dither", -1, 5, 37, 42, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_DITHERTYPES, "COMBOBOX", CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_SORT | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 52, 35, 76, 40
	LTEXT "&Palette", -1, 5, 52, 42, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_PALETTETYPES, "COMBOBOX", CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 52, 50, 76, 40
	LTEXT "Palette &Name", -1, 5, 67, 44, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_EXTNAMES, "COMBOBOX", CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_SORT | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 52, 65, 76, 70
	DEFPUSHBUTTON "&Convert", IDOK, 25, 86, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 68, 86, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "256-Color", IDC_MINI256, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 139, 27, 24, 14
	CONTROL "16-Color", IDC_MINI16, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 169, 28, 24, 14
	CONTROL "8-Color", IDC_MINI8, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 199, 28, 24, 14
	CONTROL "Custom", IDC_MINICUSTOM, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 227, 29, 24, 14
	CONTROL "Pattern", IDC_DITHERPATTERN, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 141, 46, 24, 14
	CONTROL "Scattered", IDC_DITHERSCATTERED, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 170, 46, 24, 14
	CONTROL "(None)", IDC_DITHERNONE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 199, 46, 24, 14
	CONTROL "Optimized", IDC_PALETTEOPTIMIZED, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 140, 66, 24, 14
	CONTROL "System", IDC_PALETTESTANDARD, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 168, 68, 24, 14
	CONTROL "Custom", IDC_PALETTECUSTOM, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 195, 69, 24, 14
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 133, 82
	CONTROL "", -1, "panel", 0x001 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 82, 133, 21
END

  
IDD_SPECIALFXFILT DIALOG 46, -299, 240, 254
STYLE WS_POPUP | WS_CAPTION
CAPTION "EffectsBrowser"
FONT PP_FONT
BEGIN
	LTEXT "Original", -1, 7, 2, 41, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_FXIMAGE_FULLVIEW, "IMAGE", 0 | IS_ACTIVEIMAGECMS | WS_CHILD | WS_TABSTOP, 5, 11, 110, 110
	LTEXT "Preview", -1, 127, 1, 41, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_FXIMAGE_PREVIEW, "IMAGE", 0 | IS_ACTIVEIMAGECMS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 125, 10, 110, 110
	LTEXT "&Image Effects", -1, 6, 129, 64, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_EXTNAMES, "LISTBOX", LBS_NOTIFY | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 5, 140, 78, 109
	CONTROL "IN", IDC_FXINOUT, "icon", 0x0010 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 196, 130, 40, 14
	PUSHBUTTON "&Preview", IDC_FXPREVIEW, 196, 151, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Reset", IDC_FXRESET, 196, 172, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Apply", IDC_FXAPPLY, 196, 193, 40, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
	DEFPUSHBUTTON "OK", IDOK, 196, 214, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDC_CANCEL, 196, 235, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS,   0,   0, 120, 124
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 120,   0, 120, 124
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS,   0, 124,  87, 130
	CONTROL "", IDC_FXBOX, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS, 	     87, 124, 106, 130
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 193, 124,  47, 130
END



