#include "id.h"
#include "dlgfont.h"

IDD_SHAPELOAD DIALOG 58, 91, 140, 70
STYLE WS_POPUP | WS_CAPTION
CAPTION "Load Shape"
FONT PP_FONT
BEGIN
	LTEXT "Select Shape &Name", -1, 6, 5, 123, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "12345678901234567", IDC_EXTNAMES, "COMBOBOX", CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 5, 15, 110, 44
	CONTROL "", IDC_EXTMANAGE, "icon", 0 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 15, 20, 12
	CONTROL "", IDC_FILENAME, "BUTTON", WS_CHILD | NOT WS_VISIBLE, 500, 500, 1, 1
	LTEXT "&Scale", -1, 39, 34, 20, 8
	CONTROL "1000", IDC_SHAPE_SCALE, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 62, 32, 29, 12
	CONTROL "", IDC_FEATHER_AMOUNT, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | WS_CHILD | WS_VISIBLE, 85, 32, 6, 12
	CONTROL "%", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 93, 34, 7, 8
	DEFPUSHBUTTON "&Load", IDOK, 28, 53, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 71, 53, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 140, 49
	CONTROL "", -1, "panel", 0x001 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 49, 140, 21
END

IDD_SHAPESAVE DIALOG 39, 72, 140, 54
STYLE WS_POPUP | WS_CAPTION
CAPTION "Save Shape"
FONT PP_FONT
BEGIN
	LTEXT "Enter Shape &Name", -1, 6, 5, 124, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "12345678901234567", IDC_EXTNAMES, "COMBOBOX", CBS_DROPDOWN | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 5, 15, 110, 44
	CONTROL "", IDC_CLIPEXTMANAGE, "icon", 0 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 15, 20, 12
	CONTROL "", IDC_FILENAME, "BUTTON", WS_CHILD | NOT WS_VISIBLE, 500, 500, 1, 1
	DEFPUSHBUTTON "&Save", IDOK, 29, 37, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 71, 37, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 140, 33
	CONTROL "", -1, "panel", 0x001 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 33, 140, 21
END

IDD_MASKSTROKE DIALOG 32, 34, 129, 139
STYLE WS_POPUP | WS_CAPTION
CAPTION "Stroke Mask"
FONT PP_FONT
BEGIN
	LTEXT "&Tool", -1, 5, 7, 49, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "12345678901234567", IDC_STROKETOOLS, "COMBOBOX", CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 55, 5, 68, 80
	CONTROL "Paint Tool", IDC_PAINTTOOL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 159, -9, 24, 14
	CONTROL "Airbrush Tool", IDC_SPRAYTOOL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 158, 9, 24, 14
	CONTROL "Texture Tool", IDC_TEXTURETOOL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 161, 28, 24, 14
	CONTROL "Smear Tool", IDC_SMEARTOOL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 164, 53, 24, 14
	CONTROL "Sharpen Tool", IDC_SHARPENTOOL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 188, -9, 24, 14
	CONTROL "Smooth Tool", IDC_SMOOTHTOOL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 191, 10, 24, 14
	CONTROL "Lighten Tool", IDC_LIGHTENTOOL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 192, 32, 24, 14
	CONTROL "Darken Tool", IDC_DARKENTOOL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 195, 51, 24, 14
	LTEXT "Stro&ke Style", -1, 5, 22, 49, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "12345678901234567", IDC_STYLES, "COMBOBOX", CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 55, 20, 68, 77
	LTEXT "&Brush", -1, 5, 38, 49, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_BRUSHSHAPE, "COMBOBOX", CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 55, 36, 68, 99
	CONTROL "", IDC_BRUSHCIRCLE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 185, 94, 24, 14
	CONTROL "", IDC_BRUSHSQUARE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 184, 112, 24, 14
	CONTROL "", IDC_BRUSHHORIZONTAL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 187, 131, 24, 14
	CONTROL "", IDC_BRUSHVERTICAL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 190, 156, 24, 14
	CONTROL "", IDC_BRUSHSLASH, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 214, 94, 24, 14
	CONTROL "", IDC_BRUSHBACKSLASH, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 217, 113, 24, 14
	CONTROL "", IDC_BRUSHCUSTOM, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 218, 135, 24, 14
	CONTROL "Custom...", IDC_BRUSHCUSTOMNEW, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 221, 154, 24, 14
	LTEXT "Si&ze", -1, 5, 54, 49, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT IDC_BRUSHSIZE, 55, 52, 26, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	CONTROL "", IDC_BRUSHSIZE, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | WS_CHILD | WS_VISIBLE, 75, 52, 6, 12
	CONTROL "pixel(s)", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 84, 53, 36, 8
	LTEXT "&Feather", -1, 5, 70, 49, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "100", IDC_FEATHER, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 55, 68, 26, 12
	CONTROL "", IDC_FEATHER, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | WS_CHILD | WS_VISIBLE, 75, 68, 6, 12
	CONTROL "percent", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 84, 69, 30, 8
	LTEXT "&Merge Mode", -1, 5, 86, 49, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_MERGEMODE, "COMBOBOX", CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 55, 84, 68, 87
	LTEXT "Transpar&ency", IDC_STROKEAMOUNTLBL, 5, 102, 49, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT IDC_STROKEAMOUNT, 55, 100, 26, 12
	CONTROL "", IDC_STROKEAMOUNT, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | WS_CHILD | WS_VISIBLE, 75, 100, 6, 12
	CONTROL "percent", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 84, 101, 34, 8
	CONTROL "Transpar&ency", IDC_TRANSPARENCYLBL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 89, 158, 24, 14
	CONTROL "Pr&essure", IDC_PRESSURELBL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 120, 156, 24, 14
	DEFPUSHBUTTON "&Stroke", IDOK, 23, 122, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 65, 122, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 129, 118
	CONTROL "", -1, "panel", 0x001 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 118, 129, 21
END

IDD_FEATHER DIALOG 39, 54, 99, 74
STYLE WS_POPUP | WS_CAPTION
CAPTION "Feather Mask"
FONT PP_FONT
BEGIN
	LTEXT "&Amount", -1, 5, 7, 36, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "100", IDC_FEATHER_AMOUNT, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 46, 5, 25, 12
	CONTROL "", IDC_FEATHER_AMOUNT, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | WS_CHILD | WS_VISIBLE, 65, 5, 6, 12
	CONTROL "pixel(s)", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 74, 7, 24, 8
	LTEXT "&Edge", -1, 5, 23, 36, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_FEATHER_EDGE, "COMBOBOX", CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 46, 21, 47, 40
	CONTROL "Hard", IDC_FEATHER_HARD, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 114, 14, 24, 14
	CONTROL "Normal", IDC_FEATHER_NORMAL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 114, 32, 24, 14
	CONTROL "Soft", IDC_FEATHER_SOFT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 114, 48, 24, 14
	LTEXT "&Direction", -1, 5, 38, 36, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_FEATHER_INOUT, "COMBOBOX", CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 46, 36, 47, 40
	CONTROL "Inside", IDC_FEATHER_IN, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 146, 16, 24, 14
	CONTROL "Center", IDC_FEATHER_ALL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 146, 34, 24, 14
	CONTROL "Outside", IDC_FEATHER_OUT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 146, 50, 24, 14
	DEFPUSHBUTTON "&Feather", IDOK, 8, 57, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 50, 57, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 99, 53
	CONTROL "", -1, "panel", 0x001 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 53, 99, 21
END

IDD_MASKLOAD DIALOG 58, 58, 140, 65
STYLE WS_POPUP | WS_CAPTION
CAPTION "Load Mask"
FONT PP_FONT
BEGIN
	LTEXT "Select Mask &Name", -1, 6, 5, 123, 8
	CONTROL "12345678901234567", IDC_EXTNAMES, "COMBOBOX", CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 5, 15, 110, 44
	CONTROL "", IDC_EXTMANAGE, "icon", 0 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 15, 20, 12
	CONTROL "", IDC_FILENAME, "BUTTON", WS_CHILD | NOT WS_VISIBLE, 500, 500, 1, 1
	CONTROL "&Delete Current Mask", IDC_DELETEMASK, CHECK_CLASS, CHECK_STYLE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 30, 30, 80, 10
	DEFPUSHBUTTON "&Load", IDOK, 28, 48, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 71, 48, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 140, 44
	CONTROL "", -1, "panel", 0x001 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 44, 140, 21
END

IDD_MASKSAVE DIALOG 39, 72, 140, 54
STYLE WS_POPUP | WS_CAPTION
CAPTION "Save Mask"
FONT PP_FONT
BEGIN
	LTEXT "Enter Mask &Name", -1, 6, 5, 124, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "12345678901234567", IDC_EXTNAMES, "COMBOBOX", CBS_DROPDOWN | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 5, 15, 110, 44
	CONTROL "", IDC_CLIPEXTMANAGE, "icon", 0 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 15, 20, 12
	CONTROL "", IDC_FILENAME, "BUTTON", WS_CHILD | NOT WS_VISIBLE, 500, 500, 1, 1
	DEFPUSHBUTTON "&Save", IDOK, 29, 37, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 71, 37, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 140, 33
	CONTROL "", -1, "panel", 0x001 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 33, 140, 21
END

#ifndef OEM
IDD_CHROMA_MASK DIALOG 88, 24, 100, 233
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Chroma Mask"
FONT PP_FONT
BEGIN
	LTEXT "&Color Model", -1, 5, 5, 39, 8
	CONTROL "", IDC_CHROMASELECT, "COMBOBOX", CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 46, 3, 48, 40
	CONTROL "(Normal)", IDC_CHROMA_NORMAL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, -64, 15, 24, 14
	CONTROL "HSL", IDC_CHROMA_HSL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, -63, 41, 24, 14
	CONTROL "Lightness", IDC_CHROMA_LUMIN, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, -74, 75, 33, 14
	LTEXT "&Mode", -1, 5, 24, 23, 8
	CONTROL "", IDC_MASKMODE_ADD, "icon", 0 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 46, 22, 12, 12
	CONTROL "", IDC_MASKMODE_SUBTRACT, "icon", 0 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 58, 22, 12, 12
	CONTROL "Color Select", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 5, 41, 34, 8
	CONTROL "Range", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 45, 41, 20, 8
	CONTROL "On/Off", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 74, 41, 20, 8
	CONTROL "", IDC_MASKCOLOR1, "color", 0 | WS_CHILD | WS_TABSTOP | NOT WS_VISIBLE, 14, 52, 12, 12
	CONTROL "1", IDC_MAP_PROBE, "icon", 0 | WS_CHILD | WS_TABSTOP | WS_VISIBLE, 14, 52, 12, 12
	CONTROL "100", IDC_MASKRANGE1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 41, 52, 24, 12
	CONTROL "", IDC_MASKRANGE1, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | WS_CHILD | WS_VISIBLE, 59, 52, 6, 12
	CONTROL "%", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 67, 54, 6, 8
	CONTROL "", IDC_MASKCOLOR2, "color", 0 | WS_CHILD | WS_TABSTOP | NOT WS_VISIBLE, 14, 65, 12, 12
	CONTROL "", IDC_MASKACTIVE1, CHECK_CLASS, CHECK_STYLE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 52, 11, 12
	CONTROL "2", IDC_MAP_PROBE, "icon", 0 | WS_CHILD | WS_TABSTOP | WS_VISIBLE, 14, 65, 12, 12
	CONTROL "100", IDC_MASKRANGE2, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 41, 65, 24, 12
	CONTROL "", IDC_MASKRANGE2, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | WS_CHILD | WS_VISIBLE, 59, 65, 6, 12
	CONTROL "%", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 67, 67, 6, 8
	CONTROL "", IDC_MASKACTIVE2, CHECK_CLASS, CHECK_STYLE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 65, 11, 12
	CONTROL "", IDC_MASKCOLOR3, "color", 0 | WS_CHILD | WS_TABSTOP | NOT WS_VISIBLE, 14, 78, 12, 12
	CONTROL "3", IDC_MAP_PROBE, "icon", 0 | WS_CHILD | WS_TABSTOP | WS_VISIBLE, 14, 78, 12, 12
	CONTROL "100", IDC_MASKRANGE3, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 41, 78, 24, 12
	CONTROL "", IDC_MASKRANGE3, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | WS_CHILD | WS_VISIBLE, 59, 78, 6, 12
	CONTROL "%", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 67, 80, 6, 8
	CONTROL "", IDC_MASKACTIVE3, CHECK_CLASS, CHECK_STYLE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 78, 11, 12
	CONTROL "", IDC_MASKCOLOR4, "color", 0 | WS_CHILD | WS_TABSTOP | NOT WS_VISIBLE, 14, 91, 12, 12
	CONTROL "4", IDC_MAP_PROBE, "icon", 0 | WS_CHILD | WS_TABSTOP | WS_VISIBLE, 14, 91, 12, 12
	CONTROL "100", IDC_MASKRANGE4, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 41, 91, 24, 12
	CONTROL "", IDC_MASKRANGE4, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | WS_CHILD | WS_VISIBLE, 59, 91, 6, 12
	CONTROL "%", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 67, 93, 6, 8
	CONTROL "", IDC_MASKACTIVE4, CHECK_CLASS, CHECK_STYLE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 91, 11, 12
	CONTROL "", IDC_MASKCOLOR5, "color", 0 | WS_CHILD | WS_TABSTOP | NOT WS_VISIBLE, 14, 104, 12, 12
	CONTROL "5", IDC_MAP_PROBE, "icon", 0 | WS_CHILD | WS_TABSTOP | WS_VISIBLE, 14, 104, 12, 12
	CONTROL "100", IDC_MASKRANGE5, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 41, 104, 24, 12
	CONTROL "", IDC_MASKRANGE5, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | WS_CHILD | WS_VISIBLE, 59, 104, 6, 12
	CONTROL "%", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 67, 106, 6, 8
	CONTROL "", IDC_MASKACTIVE5, CHECK_CLASS, CHECK_STYLE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 104, 11, 12
	CONTROL "", IDC_MASKCOLOR6, "color", 0 | WS_CHILD | WS_TABSTOP | NOT WS_VISIBLE, 14, 117, 12, 12
	CONTROL "6", IDC_MAP_PROBE, "icon", 0 | WS_CHILD | WS_TABSTOP | WS_VISIBLE, 14, 117, 12, 12
	CONTROL "100", IDC_MASKRANGE6, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 41, 117, 24, 12
	CONTROL "", IDC_MASKRANGE6, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | WS_CHILD | WS_VISIBLE, 59, 117, 6, 12
	CONTROL "%", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 67, 119, 6, 8
	CONTROL "", IDC_MASKACTIVE6, CHECK_CLASS, CHECK_STYLE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 117, 11, 12
	CONTROL "", IDC_MASKCOLOR7, "color", 0 | WS_CHILD | WS_TABSTOP | NOT WS_VISIBLE, 14, 130, 12, 12
	CONTROL "7", IDC_MAP_PROBE, "icon", 0 | WS_CHILD | WS_TABSTOP | WS_VISIBLE, 14, 130, 12, 12
	CONTROL "100", IDC_MASKRANGE7, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 41, 130, 24, 12
	CONTROL "", IDC_MASKRANGE7, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | WS_CHILD | WS_VISIBLE, 59, 130, 6, 12
	CONTROL "%", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 67, 132, 6, 8
	CONTROL "", IDC_MASKACTIVE7, CHECK_CLASS, CHECK_STYLE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 130, 11, 12
	CONTROL "", IDC_MASKCOLOR8, "color", 0 | WS_CHILD | WS_TABSTOP | NOT WS_VISIBLE, 14, 143, 12, 12
	CONTROL "8", IDC_MAP_PROBE, "icon", 0 | WS_CHILD | WS_TABSTOP | WS_VISIBLE, 14, 143, 12, 12
	CONTROL "100", IDC_MASKRANGE8, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 41, 143, 24, 12
	CONTROL "", IDC_MASKRANGE8, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | WS_CHILD | WS_VISIBLE, 59, 143, 6, 12
	CONTROL "%", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 67, 145, 6, 8
	CONTROL "", IDC_MASKACTIVE8, CHECK_CLASS, CHECK_STYLE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 143, 11, 12
	LTEXT "&Fade", -1, 24, 161, 18, 8
	CONTROL "100", IDC_CHROMA_FADE, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 44, 159, 24, 12
	CONTROL "", IDC_CHROMA_FADE, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | WS_CHILD | WS_VISIBLE, 62, 159, 6, 12
	CONTROL "%", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 70, 161, 6, 8
	CONTROL "&Delete Current Mask", IDC_DELETEMASK, CHECK_CLASS, CHECK_STYLE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 177, 80, 11
	PUSHBUTTON "&Preview", IDC_CHROMA, 9, 194, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Reset", IDC_RESET, 51, 194, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	DEFPUSHBUTTON "OK", IDOK, 9, 216, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 51, 216, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 37, 100, 137
	CONTROL "", -1, "panel", 0x001 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 190, 100, 22
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 212, 100, 21
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 174, 100, 16
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 100, 19
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 19, 100, 18
END

IDD_MASK_SMOOTH DIALOG 73, 60, 94, 42
STYLE WS_POPUP | WS_CAPTION
CAPTION "Mask Smoother"
FONT PP_FONT
BEGIN
	LTEXT "&Amount", -1, 11, 7, 28, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "100", IDC_RH_AMOUNT, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 40, 5, 20, 12
	CONTROL "", IDC_RH_AMOUNT, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | WS_CHILD | WS_VISIBLE, 54, 5, 6, 12
	CONTROL "pixel(s)", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 63, 7, 20, 8
	DEFPUSHBUTTON "&Smooth", IDOK, 5, 25, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 48, 25, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 94, 21
	CONTROL "", -1, "panel", 0x001 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 21, 94, 21
END
#endif

