#include "id.h"
#include "common.rh"
#include "dlgfont.h"

#ifndef OEM
IDD_FEATHEROBJECT DIALOG 60, 46, 93, 58
STYLE WS_POPUP | WS_CAPTION
CAPTION "Feather Object"
FONT PP_FONT
BEGIN
	LTEXT "&Amount", -1, 7, 7, 28, 8
	CONTROL "100", IDC_FEATHEROBJ_AMOUNT, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 5, 32, 12
	CONTROL "", IDC_FEATHEROBJ_AMOUNT, UPDOWN_CLASS, UPDOWN_INTSTYLE | WS_CHILD | WS_VISIBLE, 52, 5, 6, 12
	CONTROL "pixel(s)", -1, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 61, 7, 24, 8
	LTEXT "&Edge", -1, 7, 23, 28, 8
	CONTROL "", IDC_FEATHEROBJ_EDGE, "COMBOBOX", CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 36, 20, 45, 40
	DEFPUSHBUTTON "Feather", IDOK, 5, 41, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 48, 41, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "Hard", IDC_FEATHEROBJ_HARD, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 108, 10, 24, 14
	CONTROL "Normal", IDC_FEATHEROBJ_NORMAL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 108, 28, 24, 14
	CONTROL "Soft", IDC_FEATHEROBJ_SOFT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 110, 44, 24, 14
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 93, 37
	CONTROL "", -1, "panel", 0x001 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 37, 93, 21
END

IDD_OBJFLOAT DIALOG 120, 38, 34, 195
STYLE WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CAPTION | WS_SYSMENU
CAPTION "Objects"
FONT PP_FONT
BEGIN
	CONTROL "", IDC_VIEWOBJUP, "icon", 0 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 2, 15, 10
	CONTROL "", IDC_VIEWOBJDOWN, "icon", 0 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 2, 15, 10
	CONTROL "", IDC_VIEWOBJ0, "icon", 0x0080L | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 14, 30, 30
	CONTROL "", IDC_VIEWOBJ1, "icon", 0x0080L | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 44, 30, 30
	CONTROL "", IDC_VIEWOBJ2, "icon", 0x0080L | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 74, 30, 30
	CONTROL "", IDC_VIEWOBJ3, "icon", 0x0080L | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 104, 30, 30
	CONTROL "", IDC_VIEWOBJ4, "icon", 0x0080L | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 134, 30, 30
	CONTROL "", IDC_VIEWOBJ5, "icon", 0x0080L | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 164, 30, 30
END

IDD_ALIGNOBJECT DIALOG 30, 22, 99, 157
STYLE WS_POPUP | WS_CAPTION
CAPTION "Object Alignment"
FONT PP_FONT
BEGIN
	LTEXT "&Alignment Type", -1, 6, 5, 84, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_ALIGN_COMBO, "COMBOBOX", CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 5, 15, 88, 40
	CONTROL "5", IDC_ALIGN_GRID, "grid", SS_WHITERECT, 25, 50, 60, 60
	CONTROL "", IDC_ALIGN_LEFT, "icon", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 25, 37, 12, 12
	CONTROL "", IDC_ALIGN_CENTER, "icon", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 41, 37, 12, 12
	CONTROL "", IDC_ALIGN_RIGHT, "icon", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 57, 37, 12, 12
	CONTROL "", IDC_ALIGN_HSPACE, "icon", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 73, 37, 12, 12
	CONTROL "", IDC_ALIGN_UP, "icon", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 50, 12, 12
	CONTROL "", IDC_ALIGN_MID, "icon", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 66, 12, 12
	CONTROL "", IDC_ALIGN_DOWN, "icon", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 82, 12, 12
	CONTROL "", IDC_ALIGN_VSPACE, "icon", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 98, 12, 12
	PUSHBUTTON "&Preview", IDC_PREVIEW, 8, 119, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Reset", IDC_RESET, 51, 119, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	DEFPUSHBUTTON "OK", IDOK, 8, 140, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 51, 140, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 33, 99, 82
	CONTROL "", -1, "panel", 0x001 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 115, 99, 21
	CONTROL "", -1, "panel", 0x000 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 136, 99, 21
	CONTROL "", -1, "panel", 0x000 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 99, 33
	CONTROL "Object To Image", IDC_ALIGN_IMAGE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 111, 39, 83, 14
	CONTROL "Object To Object", IDC_ALIGN_OBJECT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 112, 19, 83, 14
	CONTROL "Object To Mask", IDC_ALIGN_MASK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 112, 56, 83, 14
END

IDD_POSOBJECT DIALOG 56, 104, 128, 58
STYLE WS_POPUP | WS_CAPTION
CAPTION "Object Position"
FONT PP_FONT
BEGIN
	LTEXT "&X Position", -1, 5, 6, 35, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT IDC_POS_X, 43, 5, 37, 12
	CONTROL "", IDC_POS_X, UPDOWN_CLASS, UPDOWN_FIXEDSTYLE | WS_CHILD | WS_VISIBLE, 74, 5, 6, 12
	CONTROL "", IDC_PREF_UNITS, "COMBOBOX", CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 83, 5, 39, 55
	LTEXT "&Y Position", -1, 5, 22, 37, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT IDC_POS_Y, 43, 20, 37, 12
	CONTROL "", IDC_POS_Y, UPDOWN_CLASS, UPDOWN_FIXEDSTYLE | WS_CHILD | WS_VISIBLE, 74, 20, 6, 12
	DEFPUSHBUTTON "OK", IDOK, 22, 41, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 65, 41, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 128, 37
	CONTROL "", -1, "panel", 0x001 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 37, 128, 21
	CONTROL "inches", IDC_PREF_UNITINCHES, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_GROUP, 174, 34, 24, 14
	CONTROL "mm", IDC_PREF_UNITMM, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_GROUP, 201, 35, 24, 14
	CONTROL "cm", IDC_PREF_UNITCM, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_GROUP, 230, 34, 24, 14
	CONTROL "picas", IDC_PREF_UNITPICAS, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_GROUP, 260, 34, 24, 14
	CONTROL "pixels", IDC_PREF_UNITPIXELS, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_GROUP, 176, 55, 24, 14
	CONTROL "Text", IDC_HEIGHTLABEL, "stext", 0x100 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 84, 23, 35, 8
END
#endif

