#include "id.h"
#include "dlgfont.h"

IDD_PALETTELOAD DIALOG 57, 66, 140, 54
STYLE WS_POPUP | WS_CAPTION
CAPTION "Load Palette"
FONT PP_FONT
BEGIN
	LTEXT "Select Palette &Name", -1, 6, 5, 84, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "12345678901234567", IDC_EXTNAMES, "COMBOBOX", CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_SORT | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 5, 15, 110, 66
	CONTROL "", IDC_EXTMANAGE, "icon", 0 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 15, 20, 12
	DEFPUSHBUTTON "&Load", IDOK, 29, 37, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 71, 37, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 140, 33
	CONTROL "", -1, "panel", 0x001 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 33, 140, 21
	CONTROL "Text", IDC_FILENAME, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 155, 17, 24, 14
END


IDD_PALETTESAVE DIALOG 45, 61, 141, 54
STYLE WS_POPUP | WS_CAPTION
CAPTION "Save Palette"
FONT PP_FONT
BEGIN
	LTEXT "Enter Palette &Name", -1, 6, 5, 81, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "12345678901234567", IDC_EXTNAMES, "COMBOBOX", CBS_DROPDOWN | CBS_OWNERDRAWFIXED | CBS_SORT | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 5, 15, 110, 66
	CONTROL "", IDC_EXTMANAGE, "icon", 0 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 15, 20, 12
	DEFPUSHBUTTON "&Save", IDOK, 29, 37, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 71, 37, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 141, 33
	CONTROL "", -1, "panel", 0x001 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 33, 141, 21
	CONTROL "Text", IDC_FILENAME, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 157, 0, 24, 14
END


IDD_PALETTEMERGE DIALOG 39, 72, 140, 54
STYLE WS_POPUP | WS_CAPTION
CAPTION "Merge Palettes"
FONT PP_FONT
BEGIN
	LTEXT "Select Palette &Name", -1, 6, 5, 81, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "12345678901234567", IDC_EXTNAMES, "COMBOBOX", CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_SORT | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 5, 15, 110, 66
	CONTROL "", IDC_EXTMANAGE, "icon", 0 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 15, 20, 12
	DEFPUSHBUTTON "&Merge", IDOK, 29, 37, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 71, 37, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 140, 33
	CONTROL "", -1, "panel", 0x001 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 33, 140, 21
	CONTROL "Text", IDC_FILENAME, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE, 150, 4, 24, 14
END


IDD_PALETTELABEL DIALOG 58, 51, 120, 51
STYLE WS_POPUP | WS_CAPTION
CAPTION "Label Color"
FONT PP_FONT
BEGIN
	LTEXT "&Enter Color Label", -1, 6, 5, 68, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_LABELNAME, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 14, 110, 12
	DEFPUSHBUTTON "OK", IDOK, 19, 34, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 61, 34, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 120, 30
	CONTROL "", -1, "panel", 0x001 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 30, 120, 21
END


IDC_PALETTEMENU MENU 
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New...", IDC_PALNEW
		MENUITEM "&Load...", IDC_PALOPEN
		MENUITEM "&Save", IDC_PALSAVE
		MENUITEM "Save &As...", IDC_PALSAVEAS
		MENUITEM "&Merge...", IDC_PALMERGE
		MENUITEM "&Reset", IDC_PALRESET
	END

	POPUP "&Edit"
	BEGIN
		MENUITEM "&Undo", IDC_PALUNDO
		MENUITEM SEPARATOR
		MENUITEM "&Insert", IDC_PALINSERT
		MENUITEM "&Delete", IDC_PALDELETEITEM
		MENUITEM "&Label...", IDC_PALLABEL
		MENUITEM "Fi&nd...", IDC_PALFIND
		MENUITEM "&Fill...", IDC_PALFILL
		MENUITEM "&Options...", IDC_PALOPTIONS
		MENUITEM "&Copy From Active", IDC_PALSETACTIVE
		MENUITEM SEPARATOR
		MENUITEM "&Auto Set Active", IDC_PALAUTOSET
	END

END


IDD_PALETTE DIALOG 60, 35, 146, 165
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SIZEBOX | WS_SYSMENU
CAPTION "Color Palette"
MENU IDC_PALETTEMENU
FONT PP_FONT
BEGIN
	CONTROL "Label", IDC_COLORLABEL, "stext", 0x101 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 1, 1, 144, 8
	CONTROL "", IDC_PALETTE, "palette", 0 | WS_CHILD | WS_VISIBLE, 1, 10, 144, 154
END


IDD_PALETTENEW DIALOG 67, 56, 118, 57
STYLE WS_POPUP | WS_CAPTION
CAPTION "New Palette"
FONT PP_FONT
BEGIN
	LTEXT "&Number of Entries to Fill", -1, 5, 7, 80, 8
	EDITTEXT IDC_PALETTEFILL, 87, 4, 26, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	CONTROL "", IDC_PALETTEFILL, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | WS_CHILD | WS_VISIBLE, 107, 4, 6, 12
	CONTROL "&Use Colors from Image", IDC_PALIMAGEFILL, CHECK_CLASS, CHECK_STYLE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 23, 88, 12
	DEFPUSHBUTTON "&Create", IDOK, 18, 40, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 60, 40, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 118, 20
	CONTROL "", -1, "panel", 0x001 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 36, 118, 21
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 20, 118, 16
END


IDD_PALETTEFIND DIALOG 51, 29, 113, 130
STYLE WS_POPUP | WS_CAPTION
CAPTION "Find Color"
FONT PP_FONT
BEGIN
	LTEXT "&Enter Color Label to Find", -1, 6, 5, 87, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_FINDCOLOR, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 14, 103, 12
	CONTROL "&Previous", IDC_PREVIOUS, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 16, 90, 40, 14
	PUSHBUTTON "&Next", IDC_NEXT, 58, 90, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	DEFPUSHBUTTON "&Select", IDOK, 16, 113, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 58, 113, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", IDC_COLORNAME, "stext", 0x101 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 6, 36, 99, 8
	CONTROL "", IDC_FINDPATCH, "color", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 5, 48, 102, 12
	CONTROL "Colors Found", -1, "stext", 0x101 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 6, 64, 99, 8
	CONTROL "0", IDC_COLORSFOUND, "stext", 0x101 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 6, 75, 99, 8
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 113, 31
	CONTROL "", -1, "panel", 0x001 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 109, 113, 21
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 31, 113, 78
END


IDD_PALETTEFILL DIALOG 56, 69, 118, 122
STYLE WS_POPUP | WS_CAPTION
CAPTION "Fill Palette"
FONT PP_FONT
BEGIN
	LTEXT "From &Color", -1, 5, 6, 36, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_PALETTEFILL_COLOR1, "color", 0 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 44, 4, 16, 12
	LTEXT "&To Color", -1, 64, 7, 30, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_PALETTEFILL_COLOR2, "color", 0 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 4, 16, 12
	LTEXT "&Number of Entries to Fill", -1, 5, 28, 79, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT IDC_PALETTEFILL, 86, 25, 26, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	CONTROL "", IDC_PALETTEFILL, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | WS_CHILD | WS_VISIBLE, 106, 25, 6, 12
	CONTROL "Fill &Maximum Entries", IDC_FILLMAX, CHECK_CLASS, CHECK_STYLE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 19, 41, 80, 12
	CONTROL "&RGB Fill", IDC_FILLRGB, RADIO_CLASS, RADIO_STYLE | WS_CHILD | WS_VISIBLE, 39, 72, 40, 12
	CONTROL "&HSL Fill", IDC_FILLHSL, RADIO_CLASS, RADIO_STYLE | WS_CHILD | WS_VISIBLE, 39, 85, 40, 12
	DEFPUSHBUTTON "&Fill", IDOK, 18, 105, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 60, 105, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 118, 20
	CONTROL "", -1, "panel", 0x001 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 101, 118, 21
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 20, 118, 37
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 57, 118, 44
	LTEXT "Fill Type", -1, 5, 63, 36, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
END


IDD_PALETTEOPTIONS DIALOG 32, 25, 96, 114
STYLE WS_POPUP | WS_CAPTION
CAPTION "Palette Options"
FONT PP_FONT
BEGIN
	LTEXT "&Rows", -1, 21, 20, 21, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT IDC_PALROWS, 51, 18, 24, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	CONTROL "", IDC_PALROWS, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | WS_CHILD | WS_VISIBLE, 69, 18, 6, 12
	LTEXT "&Columns", -1, 21, 35, 29, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT IDC_PALCOLUMNS, 51, 33, 24, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	CONTROL "", IDC_PALCOLUMNS, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | WS_CHILD | WS_VISIBLE, 69, 33, 6, 12
	CONTROL "Scroll Bar Orientation", -1, "stext", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 5, 55, 78, 8
	CONTROL "&Horizontal", IDC_PALHORZ, RADIO_CLASS, RADIO_STYLE | WS_CHILD | WS_VISIBLE, 24, 66, 46, 12
	CONTROL "&Vertical", IDC_PALVERT, RADIO_CLASS, RADIO_STYLE | WS_CHILD | WS_VISIBLE, 24, 78, 47, 12
	DEFPUSHBUTTON "OK", IDOK, 6, 97, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 49, 97, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", -1, "panel", 0x001 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 93, 96, 21
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 0, 96, 50
	CONTROL "", -1, "panel", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS, 0, 50, 96, 43
	CONTROL "Palette Orientation", -1, "stext", 0 | WS_CHILD | WS_VISIBLE | WS_DISABLED, 5, 5, 78, 8
END
