// (c) Copyright 1991 MICROGRAFX, Inc., All Rights Reserved.
// This material is confidential and a trade secret.
// Permission to use this work for any purpose must be obtained
// in writing from: MICROGRAFX, 1303 E Arapaho, Richardson, TX
#include "id.h"
#include "bsrid.h"

//************************************************************************
// The CURSOR assignments
//************************************************************************
ID_NULL				CURSOR LOADONCALL MOVEABLE DISCARDABLE null.cur
ID_SELECTOR			CURSOR LOADONCALL MOVEABLE DISCARDABLE selector.cur
ID_CLOCK01			CURSOR LOADONCALL MOVEABLE DISCARDABLE clock01.cur
ID_CLOCK02			CURSOR LOADONCALL MOVEABLE DISCARDABLE clock02.cur
ID_CLOCK03			CURSOR LOADONCALL MOVEABLE DISCARDABLE clock03.cur
ID_CLOCK04			CURSOR LOADONCALL MOVEABLE DISCARDABLE clock04.cur
ID_CLOCK05			CURSOR LOADONCALL MOVEABLE DISCARDABLE clock05.cur
ID_CLOCK06			CURSOR LOADONCALL MOVEABLE DISCARDABLE clock06.cur
ID_CLOCK07			CURSOR LOADONCALL MOVEABLE DISCARDABLE clock07.cur
ID_CLOCK08			CURSOR LOADONCALL MOVEABLE DISCARDABLE clock08.cur
ID_CLOCK09			CURSOR LOADONCALL MOVEABLE DISCARDABLE clock09.cur
ID_CLOCK10			CURSOR LOADONCALL MOVEABLE DISCARDABLE clock10.cur
ID_CLOCK11			CURSOR LOADONCALL MOVEABLE DISCARDABLE clock11.cur
ID_CLOCK12			CURSOR LOADONCALL MOVEABLE DISCARDABLE clock12.cur
ID_FREE				CURSOR LOADONCALL MOVEABLE DISCARDABLE FREE.cur
ID_FREEALT			CURSOR LOADONCALL MOVEABLE DISCARDABLE FREEALT.cur
ID_CUSTOMVIEW		CURSOR LOADONCALL MOVEABLE DISCARDABLE CUSTOM.cur
ID_MAGICWAND 		CURSOR LOADONCALL MOVEABLE DISCARDABLE MAGIC.cur
ID_GRABBER			CURSOR LOADONCALL MOVEABLE DISCARDABLE GRABBER.cur
ID_PROBE	 		CURSOR LOADONCALL MOVEABLE DISCARDABLE PROBE.cur
ID_VIGNETTE			CURSOR LOADONCALL MOVEABLE DISCARDABLE VIGNETTE.cur
ID_TEXT				CURSOR LOADONCALL MOVEABLE DISCARDABLE TEXT.cur
ID_FLOOD	 		CURSOR LOADONCALL MOVEABLE DISCARDABLE FLOOD.cur
ID_PENCIL	 		CURSOR LOADONCALL MOVEABLE DISCARDABLE PENCIL.cur
ID_SHIELD	 		CURSOR LOADONCALL MOVEABLE DISCARDABLE SHIELD.cur
ID_BALL1	 		CURSOR LOADONCALL MOVEABLE DISCARDABLE BBALL1.cur
ID_BALL2	 		CURSOR LOADONCALL MOVEABLE DISCARDABLE BBALL2.cur
ID_BALL3	 		CURSOR LOADONCALL MOVEABLE DISCARDABLE BBALL3.cur
ID_BALL4	 		CURSOR LOADONCALL MOVEABLE DISCARDABLE BBALL4.cur
ID_APPHELP   		CURSOR LOADONCALL MOVEABLE DISCARDABLE HELP.cur
ID_NOHELP	 		CURSOR LOADONCALL MOVEABLE DISCARDABLE NOHELP.cur
ID_ROTATE	 		CURSOR LOADONCALL MOVEABLE DISCARDABLE ROTATE.cur
ID_SKEWHORZ			CURSOR LOADONCALL MOVEABLE DISCARDABLE SKEWHORZ.cur
ID_SKEWVERT			CURSOR LOADONCALL MOVEABLE DISCARDABLE SKEWVERT.cur 
ID_DRAGMOVE			CURSOR LOADONCALL MOVEABLE DISCARDABLE dragmove.cur
ID_DRAGCOPY			CURSOR LOADONCALL MOVEABLE DISCARDABLE dragcopy.cur
ID_DRAGNOT			CURSOR LOADONCALL MOVEABLE DISCARDABLE dragnot.cur
ID_TRANSFORMER		CURSOR LOADONCALL MOVEABLE DISCARDABLE transfrm.cur
ID_POINTER			CURSOR LOADONCALL MOVEABLE DISCARDABLE pointed.cur
ID_CROP				CURSOR LOADONCALL MOVEABLE DISCARDABLE crop.cur
ID_ADDLEFT			CURSOR LOADONCALL MOVEABLE DISCARDABLE addptl.cur
ID_ADDRIGHT			CURSOR LOADONCALL MOVEABLE DISCARDABLE addptr.cur
ID_MOVELEFT	  		CURSOR LOADONCALL MOVEABLE DISCARDABLE moveptl.cur 
ID_MOVERIGHT  		CURSOR LOADONCALL MOVEABLE DISCARDABLE moveptr.cur
ID_DELETELEFT 		CURSOR LOADONCALL MOVEABLE DISCARDABLE delptl.cur
ID_DELETERIGHT		CURSOR LOADONCALL MOVEABLE DISCARDABLE delptr.cur
ID_SELECTORALT		CURSOR LOADONCALL MOVEABLE DISCARDABLE selalt.cur

//************************************************************************
// The BITMAP assignements
//************************************************************************
SPA_BITMAP		    BITMAP LOADONCALL MOVEABLE DISCARDABLE SPA.bmp
MGX_BITMAP		    BITMAP LOADONCALL MOVEABLE DISCARDABLE LOGO.bmp
IDC_BITMAP_BRIGHT1	BITMAP LOADONCALL MOVEABLE DISCARDABLE bright1.bmp
IDC_BITMAP_BRIGHT2	BITMAP LOADONCALL MOVEABLE DISCARDABLE bright2.bmp
IDR_MAINFRAME           BITMAP  MOVEABLE PURE   "toolbar.bmp"




