// (c) Copyright 1991 MICROGRAFX, Inc., All Rights Reserved.
// This material is confidential and a trade secret.
// Permission to use this work for any purpose must be obtained
// in writing from: MICROGRAFX, 1303 E Arapaho, Richardson, TX
#include "id.h"
#include "bsrid.h"

//************************************************************************
// The ICON assignements
//************************************************************************
IDC_OBJECTGROUP			BITMAP LOADONCALL MOVEABLE DISCARDABLE group.bmp
IDC_OBJECTTRANSFORM		BITMAP LOADONCALL MOVEABLE DISCARDABLE transfrm.bmp
IDC_OBJECTLOCK			BITMAP LOADONCALL MOVEABLE DISCARDABLE objlock.bmp
IDC_TOTOP			BITMAP LOADONCALL MOVEABLE DISCARDABLE up.bmp
IDC_TOBOTTOM			BITMAP LOADONCALL MOVEABLE DISCARDABLE down.bmp

IDC_VIEWOBJUP			BITMAP LOADONCALL MOVEABLE DISCARDABLE up.bmp
IDC_VIEWOBJDOWN			BITMAP LOADONCALL MOVEABLE DISCARDABLE down.bmp

#ifdef OEM
IDC_ABOUTAPP			ICON LOADONCALL MOVEABLE DISCARDABLE pictpubl.ico
#else
IDC_ABOUTAPP			ICON LOADONCALL MOVEABLE DISCARDABLE pictpub.ico
#endif
IDC_MGX					ICON LOADONCALL MOVEABLE DISCARDABLE mgx.ico
IDC_PHOTOMAGIC			ICON LOADONCALL MOVEABLE DISCARDABLE pmagic.ico
IDC_DESIGNER			ICON LOADONCALL MOVEABLE DISCARDABLE designer.ico
IDC_CHARISMA			ICON LOADONCALL MOVEABLE DISCARDABLE charisma.ico
IDC_DRAWPLUS			ICON LOADONCALL MOVEABLE DISCARDABLE drawplus.ico
IDC_ORGCHART			ICON LOADONCALL MOVEABLE DISCARDABLE orgchart.ico
IDC_ABCFLOWCHART		ICON LOADONCALL MOVEABLE DISCARDABLE abcchart.ico
IDC_CLIPART				ICON LOADONCALL MOVEABLE DISCARDABLE clipart.ico
IDC_TECHSUPT			ICON LOADONCALL MOVEABLE DISCARDABLE techsupt.ico
IDC_SNAPGRAFX			ICON LOADONCALL MOVEABLE DISCARDABLE snapgrfx.ico

IDC_FXINOUT				ICON LOADONCALL MOVEABLE DISCARDABLE INOUT.ico
IDC_STATUSINFO			ICON LOADONCALL MOVEABLE DISCARDABLE GSTATIN.ico
IDC_STATUSMASK			ICON LOADONCALL MOVEABLE DISCARDABLE STATUSMA.ico
IDC_STATUSPALETTE		ICON LOADONCALL MOVEABLE DISCARDABLE GSTATPA.ico
IDC_STATUSSHIELD		ICON LOADONCALL MOVEABLE DISCARDABLE GSTATSH.ico
IDC_MASKEDITALPHA		ICON LOADONCALL MOVEABLE DISCARDABLE ALPHA.ico
IDC_VIEWSLIME			ICON LOADONCALL MOVEABLE DISCARDABLE GRUBY.ico

IDC_EXTMANAGE			ICON LOADONCALL MOVEABLE DISCARDABLE GMANAGE.ico
IDC_CLIPEXTMANAGE		ICON LOADONCALL MOVEABLE DISCARDABLE GMANAGE.ico
IDC_CREATEEXTMANAGE		ICON LOADONCALL MOVEABLE DISCARDABLE GMANAGE.ico
IDC_BRUSHEXTMANAGE		ICON LOADONCALL MOVEABLE DISCARDABLE GMANAGE.ico

IDC_CLOSEBOX			ICON LOADONCALL MOVEABLE DISCARDABLE CLOSEBOX.ico

IDC_PATHICON_ROOT		ICON LOADONCALL MOVEABLE DISCARDABLE ROOT.ico
IDC_PATHICON_OPEN		ICON LOADONCALL MOVEABLE DISCARDABLE OPEN.ico
IDC_PATHICON_ACTIVE		ICON LOADONCALL MOVEABLE DISCARDABLE ACTIVE.ico
IDC_PATHICON_CLOSED		ICON LOADONCALL MOVEABLE DISCARDABLE CLOSED.ico

IDC_PATHICON_FIXED		ICON LOADONCALL MOVEABLE DISCARDABLE DRIVE.ico
IDC_PATHICON_NET		ICON LOADONCALL MOVEABLE DISCARDABLE net.ico
IDC_PATHICON_FLOPPY		ICON LOADONCALL MOVEABLE DISCARDABLE floppy.ico
IDC_PATHICON_CDDRIVE	ICON LOADONCALL MOVEABLE DISCARDABLE cd.ico
IDC_PATHICON_RAMDRIVE	ICON LOADONCALL MOVEABLE DISCARDABLE ram.ico

IDC_ICON_ALBUMOPEN		ICON LOADONCALL MOVEABLE DISCARDABLE ALBUMO.ico
IDC_ICON_ALBUMCLOSED    ICON LOADONCALL MOVEABLE DISCARDABLE ALBUMC.ico

IDC_SELECTOR			ICON LOADONCALL MOVEABLE DISCARDABLE SELECTOR.ico
IDC_MASK				ICON LOADONCALL MOVEABLE DISCARDABLE MASK.ico
IDC_RETOUCH				ICON LOADONCALL MOVEABLE DISCARDABLE GRETOCH.ico
IDC_FILTER				ICON LOADONCALL MOVEABLE DISCARDABLE GFILTER.ico
IDC_FILL				ICON LOADONCALL MOVEABLE DISCARDABLE GFILL.ico
IDC_DRAW				ICON LOADONCALL MOVEABLE DISCARDABLE GDRAW.ico
IDC_CUSTOMVIEW				ICON LOADONCALL MOVEABLE DISCARDABLE GCUSTOM.ico
IDC_ZOOM				ICON LOADONCALL MOVEABLE DISCARDABLE GZOOM.ico
IDC_ZOOMOUT				ICON LOADONCALL MOVEABLE DISCARDABLE GZOOMOUT.ico
IDC_ERASER				ICON LOADONCALL MOVEABLE DISCARDABLE GERASER.ico
IDC_TEXT				ICON LOADONCALL MOVEABLE DISCARDABLE GTEXT.ico
IDC_PROBE				ICON LOADONCALL MOVEABLE DISCARDABLE GPROBE.ico
IDC_PROBEPOINT				ICON LOADONCALL MOVEABLE DISCARDABLE GPROBE.ico
IDC_PROBERECT				ICON LOADONCALL MOVEABLE DISCARDABLE GPROBRCT.ico

IDC_SQUARE				ICON LOADONCALL MOVEABLE DISCARDABLE GRECTMSK.ico
IDC_FREE				ICON LOADONCALL MOVEABLE DISCARDABLE GFREE.ico
IDC_PAINTON				ICON LOADONCALL MOVEABLE DISCARDABLE GPAINTON.ico
IDC_MAGICWAND			ICON LOADONCALL MOVEABLE DISCARDABLE GMAGIC.ico
IDC_TRANSFORMER			ICON LOADONCALL MOVEABLE DISCARDABLE TRANSFRM.ico
IDC_POINTER				ICON LOADONCALL MOVEABLE DISCARDABLE GPOINT.ico
IDC_CROP				ICON LOADONCALL MOVEABLE DISCARDABLE CROP.ico

IDC_PAINT				ICON LOADONCALL MOVEABLE DISCARDABLE GPAINT.ico
IDC_SPRAY				ICON LOADONCALL MOVEABLE DISCARDABLE GSPRAY.ico
IDC_CLONE				ICON LOADONCALL MOVEABLE DISCARDABLE GCLONE.ico
IDC_TEXTURE				ICON LOADONCALL MOVEABLE DISCARDABLE GTEXTURE.ico
IDC_SMEAR				ICON LOADONCALL MOVEABLE DISCARDABLE GSMEAR.ico

IDC_SHARP				ICON LOADONCALL MOVEABLE DISCARDABLE GSHARP.ico
IDC_SMOOTH				ICON LOADONCALL MOVEABLE DISCARDABLE GSMOOTH.ico
IDC_LIGHTEN				ICON LOADONCALL MOVEABLE DISCARDABLE GLIGHTEN.ico
IDC_DARKEN				ICON LOADONCALL MOVEABLE DISCARDABLE GDARKEN.ico
IDC_STITCH				ICON LOADONCALL MOVEABLE DISCARDABLE STITCH.ico

IDC_VIGNETTE			ICON LOADONCALL MOVEABLE DISCARDABLE GVIGNETE.ico
IDC_TEXTUREFILL			ICON LOADONCALL MOVEABLE DISCARDABLE GTXTFILL.ico
IDC_TINTFILL			ICON LOADONCALL MOVEABLE DISCARDABLE GTNTFILL.ico
IDC_FLOOD				ICON LOADONCALL MOVEABLE DISCARDABLE GFLOOD.ico

IDC_PENCIL				ICON LOADONCALL MOVEABLE DISCARDABLE GPENCIL.ico
IDC_DRAWSQUARE			ICON LOADONCALL MOVEABLE DISCARDABLE GRECTDRW.ico
IDC_DRAWFREE			ICON LOADONCALL MOVEABLE DISCARDABLE GDFREE.ico

IDC_VIEWLAST			ICON LOADONCALL MOVEABLE DISCARDABLE VIEWLAST.ico
IDC_VIEW1TO1			ICON LOADONCALL MOVEABLE DISCARDABLE VIEW1TO1.ico
IDC_VIEWFULL			ICON LOADONCALL MOVEABLE DISCARDABLE VIEWFULL.ico
IDC_VIEWALL				ICON LOADONCALL MOVEABLE DISCARDABLE VIEWALL.ico
IDC_GRABBER				ICON LOADONCALL MOVEABLE DISCARDABLE GRABBER.ico
IDC_QUICKZOOM			ICON LOADONCALL MOVEABLE DISCARDABLE QUICK.ico

IDC_CWISE				ICON LOADONCALL MOVEABLE DISCARDABLE CWISE.ico
IDC_CCWISE				ICON LOADONCALL MOVEABLE DISCARDABLE CCWISE.ico

// IDC_CIRCLEDOT		ICON LOADONCALL MOVEABLE DISCARDABLE CDOT.ico
// IDC_SQUAREDOT		ICON LOADONCALL MOVEABLE DISCARDABLE SDOT.ico
// IDC_ELLIPSEDOT		ICON LOADONCALL MOVEABLE DISCARDABLE EDOT.ico

IDC_BRUSHSOLID			ICON LOADONCALL MOVEABLE DISCARDABLE SOLID.ico
IDC_BRUSHSCATTER		ICON LOADONCALL MOVEABLE DISCARDABLE SCATTER.ico

IDC_BRUSHCIRCLE			ICON LOADONCALL MOVEABLE DISCARDABLE BCIRCLE.ico
IDC_BRUSHSQUARE			ICON LOADONCALL MOVEABLE DISCARDABLE BSQUARE.ico
IDC_BRUSHHORIZONTAL		ICON LOADONCALL MOVEABLE DISCARDABLE BHORZ.ico
IDC_BRUSHVERTICAL		ICON LOADONCALL MOVEABLE DISCARDABLE BVERT.ico
IDC_BRUSHSLASH			ICON LOADONCALL MOVEABLE DISCARDABLE BSLASH.ico
IDC_BRUSHBACKSLASH		ICON LOADONCALL MOVEABLE DISCARDABLE BBSLASH.ico

IDC_PRESSLIGHT			ICON LOADONCALL MOVEABLE DISCARDABLE PLIGHT.ico
IDC_PRESSMEDIUM			ICON LOADONCALL MOVEABLE DISCARDABLE PMEDIUM.ico
IDC_PRESSHEAVY			ICON LOADONCALL MOVEABLE DISCARDABLE PHEAVY.ico

IDC_TEXTUREFLIPX		ICON LOADONCALL MOVEABLE DISCARDABLE horz.ico
IDC_TEXTUREFLIPY		ICON LOADONCALL MOVEABLE DISCARDABLE vert.ico

IDC_CIREDGE				ICON LOADONCALL MOVEABLE DISCARDABLE drcirp.ico
IDC_CIRFILL				ICON LOADONCALL MOVEABLE DISCARDABLE drcirf.ico
IDC_CIREDGEANDFILL		ICON LOADONCALL MOVEABLE DISCARDABLE drcirb.ico

IDC_SQUEDGE				ICON LOADONCALL MOVEABLE DISCARDABLE drsqup.ico
IDC_SQUFILL				ICON LOADONCALL MOVEABLE DISCARDABLE drsquf.ico
IDC_SQUEDGEANDFILL		ICON LOADONCALL MOVEABLE DISCARDABLE drsqub.ico

IDC_FREEDGE				ICON LOADONCALL MOVEABLE DISCARDABLE drfreep.ico
IDC_FREFILL				ICON LOADONCALL MOVEABLE DISCARDABLE drfreef.ico
IDC_FREEDGEANDFILL		ICON LOADONCALL MOVEABLE DISCARDABLE drfreeb.ico

IDC_QUART3_PROBE	 	ICON LOADONCALL MOVEABLE DISCARDABLE hilight.ico
IDC_QUART2_PROBE		ICON LOADONCALL MOVEABLE DISCARDABLE midtone.ico
IDC_QUART1_PROBE		ICON LOADONCALL MOVEABLE DISCARDABLE shadow.ico

IDC_QUART3 				ICON LOADONCALL MOVEABLE DISCARDABLE MOVEABLE DISCARDABLE "htag.ico"
IDC_QUART2 				ICON LOADONCALL MOVEABLE DISCARDABLE MOVEABLE DISCARDABLE "mtag.ico"
IDC_QUART1 				ICON LOADONCALL MOVEABLE DISCARDABLE MOVEABLE DISCARDABLE "stag.ico"

IDC_HISTOTAG1 			ICON LOADONCALL MOVEABLE DISCARDABLE histotag.ico
IDC_HISTOTAG2 			ICON LOADONCALL MOVEABLE DISCARDABLE histotag.ico

IDC_TEXT_ITALIC			ICON LOADONCALL MOVEABLE DISCARDABLE italic.ico
IDC_TEXT_UNDERLINE		ICON LOADONCALL MOVEABLE DISCARDABLE underlne.ico
IDC_TEXT_BOLD			ICON LOADONCALL MOVEABLE DISCARDABLE bold.ico
IDC_TEXT_ANTIALIAS		ICON LOADONCALL MOVEABLE DISCARDABLE aliased.ico

IDC_STITCHPOINT1		ICON LOADONCALL MOVEABLE DISCARDABLE STITCH1.ico
IDC_STITCHPOINT2		ICON LOADONCALL MOVEABLE DISCARDABLE STITCH2.ico
IDC_STITCHPOINT1C		ICON LOADONCALL MOVEABLE DISCARDABLE STCIRCLE.ico
IDC_STITCHPOINT2C		ICON LOADONCALL MOVEABLE DISCARDABLE STCIRCLE.ico
IDC_STITCHPOINT1S		ICON LOADONCALL MOVEABLE DISCARDABLE STSQUARE.ico
IDC_STITCHPOINT2S		ICON LOADONCALL MOVEABLE DISCARDABLE STSQUARE.ico

IDC_MASKMODE_REVERSE	ICON LOADONCALL MOVEABLE DISCARDABLE REVERSE.ico
IDC_MASKMODE_ADD		ICON LOADONCALL MOVEABLE DISCARDABLE ADD.ico
IDC_MASKMODE_SUBTRACT	ICON LOADONCALL MOVEABLE DISCARDABLE SUBTRACT.ico

IDC_SQUAREMASK			ICON LOADONCALL MOVEABLE DISCARDABLE SMALRECT.ico
IDC_CIRCLEMASK			ICON LOADONCALL MOVEABLE DISCARDABLE SMALCIRC.ico

IDC_TRANSROTATEXY		ICON LOADONCALL MOVEABLE DISCARDABLE ROTATEXY.ico
IDC_TRANSROTATEX		ICON LOADONCALL MOVEABLE DISCARDABLE ROTATEX.ico
IDC_TRANSROTATEY		ICON LOADONCALL MOVEABLE DISCARDABLE ROTATEY.ico
IDC_TRANSFLIPX			ICON LOADONCALL MOVEABLE DISCARDABLE HORZ.ico
IDC_TRANSFLIPY			ICON LOADONCALL MOVEABLE DISCARDABLE VERT.ico

IDC_CLRMGRINPICON		ICON LOADONCALL MOVEABLE DISCARDABLE scanner.ico
IDC_CLRMGRMONICON		ICON LOADONCALL MOVEABLE DISCARDABLE monitor.ico
IDC_CLRMGROUTICON		ICON LOADONCALL MOVEABLE DISCARDABLE printer.ico
IDC_CLRMGRSIMICON		ICON LOADONCALL MOVEABLE DISCARDABLE simulate.ico

IDC_MOVEPOINTS			ICON LOADONCALL MOVEABLE DISCARDABLE pntmove.ico
IDC_ADDPOINTS			ICON LOADONCALL MOVEABLE DISCARDABLE pntadd.ico
IDC_ADDBEZIER			ICON LOADONCALL MOVEABLE DISCARDABLE bezadd.ico
IDC_DELPOINTS			ICON LOADONCALL MOVEABLE DISCARDABLE pntdel.ico
IDC_IS_POINT			ICON LOADONCALL MOVEABLE DISCARDABLE pntmode.ico
IDC_IS_BEZIER			ICON LOADONCALL MOVEABLE DISCARDABLE bezmode.ico
IDC_MAP_PROBE			ICON LOADONCALL MOVEABLE DISCARDABLE mapprobe.ico  
IDC_MAP_BEZIER			ICON LOADONCALL MOVEABLE DISCARDABLE mapcrv.ico
IDC_MAP_LINES			ICON LOADONCALL MOVEABLE DISCARDABLE mapline.ico

IDC_CONTICON			ICON LOADONCALL MOVEABLE DISCARDABLE CONTRAST.ico
IDC_CONTICON2		   ICON LOADONCALL MOVEABLE DISCARDABLE CONTRAST.ico
IDC_CONTICON3		   ICON LOADONCALL MOVEABLE DISCARDABLE CONTRAST.ico
IDC_CONTICON4		   ICON LOADONCALL MOVEABLE DISCARDABLE CONTRAST.ico
IDC_CONTICON5		   ICON LOADONCALL MOVEABLE DISCARDABLE CONTRAST.ico
IDC_CONTICON6		   ICON LOADONCALL MOVEABLE DISCARDABLE CONTRAST.ico
IDC_BRITICON			ICON LOADONCALL MOVEABLE DISCARDABLE BRITNESS.ico
IDC_BRITICON2		   ICON LOADONCALL MOVEABLE DISCARDABLE BRITNESS.ico
IDC_BRITICON3		   ICON LOADONCALL MOVEABLE DISCARDABLE BRITNESS.ico
IDC_BRITICON4		   ICON LOADONCALL MOVEABLE DISCARDABLE BRITNESS.ico
IDC_BRITICON5		   ICON LOADONCALL MOVEABLE DISCARDABLE BRITNESS.ico
IDC_BRITICON6		   ICON LOADONCALL MOVEABLE DISCARDABLE BRITNESS.ico
IDC_OBJECTDELETE		ICON LOADONCALL MOVEABLE DISCARDABLE PNTADD.ico
IDC_GROW				ICON LOADONCALL MOVEABLE DISCARDABLE GGROW.ico
IDC_SIMILAR				ICON LOADONCALL MOVEABLE DISCARDABLE GSIMILAR.ICO
//IDC_OBJECTDELETE		ICON LOADONCALL MOVEABLE DISCARDABLE DELETE.ICO
IDC_CLONESOURCE			ICON LOADONCALL MOVEABLE DISCARDABLE CLONESRC.ico
IDC_UNLOCK 				ICON LOADONCALL MOVEABLE DISCARDABLE unlock.ico
IDC_LOCK 				ICON LOADONCALL MOVEABLE DISCARDABLE lock.ico

IDC_AVI_HOME			ICON LOADONCALL MOVEABLE DISCARDABLE HOME.ico
IDC_AVI_END				ICON LOADONCALL MOVEABLE DISCARDABLE END.ico
IDC_AVI_RPLAY			ICON LOADONCALL MOVEABLE DISCARDABLE PLAY.ico
IDC_AVI_STOP			ICON LOADONCALL MOVEABLE DISCARDABLE STOP.ico
IDC_AVI_STEP			ICON LOADONCALL MOVEABLE DISCARDABLE FORWARD.ico
IDC_AVI_RSTEP			ICON LOADONCALL MOVEABLE DISCARDABLE BACKUP.ico
IDC_AVI_CONFIGURE		ICON LOADONCALL MOVEABLE DISCARDABLE statusin.ico

IDC_TASKSTOP			ICON LOADONCALL MOVEABLE DISCARDABLE STOPTASK.ico
IDC_TASKSUSPEND			ICON LOADONCALL MOVEABLE DISCARDABLE PAWSTASK.ico
IDC_TASKRESUME			ICON LOADONCALL MOVEABLE DISCARDABLE RESMTASK.ico  

IDC_MAP_SHIFT_UP		ICON LOADONCALL MOVEABLE DISCARDABLE UPALIGN.ico
IDC_MAP_SHIFT_DOWN		ICON LOADONCALL MOVEABLE DISCARDABLE DWNALIGN.ico
IDC_MAP_SHIFT_LEFT		ICON LOADONCALL MOVEABLE DISCARDABLE LFTALIGN.ico
IDC_MAP_SHIFT_RIGHT		ICON LOADONCALL MOVEABLE DISCARDABLE RGTALIGN.ico 

IDC_TEXT_LEFT			ICON LOADONCALL MOVEABLE DISCARDABLE LEFTJUST.ico
IDC_TEXT_CENTER			ICON LOADONCALL MOVEABLE DISCARDABLE CENTJUST.ico
IDC_TEXT_RIGHT			ICON LOADONCALL MOVEABLE DISCARDABLE RGHTJUST.ico

IDC_DRAW_BEZIER			ICON LOADONCALL MOVEABLE DISCARDABLE mapcrv.ico
IDC_DRAW_LINE			ICON LOADONCALL MOVEABLE DISCARDABLE mapline.ico

IDC_CHROMA_PROBE	   	ICON LOADONCALL MOVEABLE DISCARDABLE mapprobe.ico 

IDC_SWATCHICON			ICON LOADONCALL MOVEABLE DISCARDABLE swatch.ico

IDC_ALIGN_TRIANGLE      ICON LOADONCALL MOVEABLE DISCARDABLE trialign.ico
IDC_ALIGN_CIRCLE        ICON LOADONCALL MOVEABLE DISCARDABLE ciralign.ico
IDC_ALIGN_SQUARE        ICON LOADONCALL MOVEABLE DISCARDABLE squalign.ico    
IDC_ALIGN_RIGHT         ICON LOADONCALL MOVEABLE DISCARDABLE lftalign.ico
IDC_ALIGN_LEFT          ICON LOADONCALL MOVEABLE DISCARDABLE rgtalign.ico
IDC_ALIGN_UP            ICON LOADONCALL MOVEABLE DISCARDABLE upalign.ico
IDC_ALIGN_DOWN          ICON LOADONCALL MOVEABLE DISCARDABLE dwnalign.ico
IDC_ALIGN_CENTER        ICON LOADONCALL MOVEABLE DISCARDABLE ctralign.ico
IDC_ALIGN_MID           ICON LOADONCALL MOVEABLE DISCARDABLE midalign.ico
IDC_ALIGN_HSPACE        ICON LOADONCALL MOVEABLE DISCARDABLE ex1align.ico
IDC_ALIGN_VSPACE        ICON LOADONCALL MOVEABLE DISCARDABLE ex2align.ico



