// (c) Copyright 1991 MICROGRAFX, Inc., All Rights Reserved.
// This material is confidential and a trade secret.
// Permission to use this work for any purpose must be obtained
// in writing from: MICROGRAFX, 1303 E Arapaho, Richardson, TX

#include "id.h"

#ifndef OEM
STRINGTABLE DISCARDABLE 
BEGIN
//
// Macro Command strings 
//
IDS_CMD_SELECTOBJRELATIVE   "SelectObjectRelative %d %d"
IDS_CMD_OBJECTLAYERING 		"ObjectLayering %d"

IDS_CMD_ROTATE90		"Rotate90"
IDS_CMD_ROTATE180 		"Rotate180"
IDS_CMD_ROTATE270 		"Rotate270"
IDS_CMD_ROTATEANY 		"Rotate %s %d"
IDS_CMD_LOADFILE 		"OpenFile \042%s\042 \042%s\042 %d %d %lu %lu %d %lu %lu %s"
IDS_CMD_SIZE	 		"Size %s %s %d %d %d"
IDS_CMD_INVERT	 		"Invert"
IDS_CMD_EXPAND	 		"Expand %s %s %s %s %d %s %d"
IDS_CMD_MIRRORX  		"MirrorHorizontally"
IDS_CMD_MIRRORY  		"MirrorVertically"
IDS_CMD_MIRRORXY  		"MirrorDiagonally"
IDS_CMD_CONVERT  		"Convert %d %lu %lu %d %lu %lu %d %d %d \042%s\042"
IDS_CMD_GRADIENT  		"Gradient %d \042%s\042 %d %d %d %d %d %d %s %d %s %d %d %d %d %d"
IDS_CMD_TINTFILL  		"TintFill %d \042%s\042 %d %s"
IDS_CMD_DELETE  		"Clear"
IDS_CMD_CUT	  		    "Cut"
IDS_CMD_TEXTUREFILL 	"TextureFill %d \042%s\042 \042%s\042 %d %d"
IDS_CMD_FLOOD	  		"SmartFill %d \042%s\042 %d %s %d %d %d %d %s %d %d %d"
IDS_CMD_CONTBRIT  		"ContrastBrightness %d %d %d %d %d"
IDS_CMD_CHROMA			"ChromaMask %d %d %d %d %d %d %d %d %d %d %d %d %d"
IDS_CMD_BALANCE  		"ColorBalance %d %d %d %d %d %d %d %d %d %d %d %d %d %d %d %d %d %d %d %d %d %d %d %d %d %d %d %d %d %d"
IDS_CMD_MAP  			"Map %d %d %d %d %d"
IDS_CMD_LOWRESLOAD  	"OpenFileLowRes \042%s\042 \042%s\042 %d %d %d %lu %lu %d %lu %lu %s"
IDS_CMD_SAVEFILE		"SaveFile \042%s\042 %d %d %d %lu %lu %d %lu %lu %s"
IDS_CMD_TONEBALANCE  	"ToneBalance %d %d %d %d %d"
IDS_CMD_POSTERIZE  		"Posterize %d %d %d %d %d %d %d %d %d %d"
IDS_CMD_THRESHOLD  		"Threshold %d %d %d %d %d %d %d %d %d %d"
IDS_CMD_HUESAT  		"HueMap %d %d %d"
IDS_CMD_HUESHIFT  		"HueShift %d %d %d"
IDS_CMD_APPLYCAL  		"ApplyCalibration \042%s\042 \042%s\042"
IDS_CMD_SHAPEMASK		"ShapeMask %d %d %d %d %d %d %d"
IDS_CMD_FREEMASK		"FreehandMask %d %d %d %d"
IDS_CMD_POINTEDIT		"PointEditMask %d %d %d %d %d %d %d %d %d"
IDS_CMD_MAGICMASK		"SmartMask %d %d %d %d %s %d %d %d %d"
IDS_CMD_SIMILAR			"SimilarMask %d %d %d %s %d %d %d %d"
IDS_CMD_TRANSFORMMASK 		"TransformMask %d %d %d %d %d %d %d %d \042%s\042 %d %d %d %d %d %d %d %d %d %d %d"
IDS_CMD_TRANSFORMOBJECTS 	"TransformObjects %d %d %d %d %d %d %d %d %d %d"
IDS_CMD_SELECTOBJECTS 		"SelectObjects %d %d %d %d %d %d %d"
IDS_CMD_MOVEOBJECTS   		"MoveObjects %d %d %d"
IDS_CMD_SETOPACITY		    "SetObjectsTransparency %d"
IDS_CMD_ORDERUP 		    "OrderObjectsUp"
IDS_CMD_GROUPOBJECTS 	    "GroupObjects"
IDS_CMD_UNGROUPOBJECTS 	    "UnGroupObjects"
IDS_CMD_DUPLICATEOBJECTS    "DuplicateObjects"
IDS_CMD_MERGEMASK		    "MergeMask"
IDS_CMD_PASTEFROM		    "PasteFrom %d \042%s\042 %d %d %d %d %d %d %d %d %d %d %d \042%s\042 \042%s\042 %d %lu %lu %d %lu %lu"
IDS_CMD_PASTE			    "Paste %d \042%s\042 %d %d %d %d %d %d %d %d %d %d %d"
IDS_CMD_LOADMASK		    "LoadMask %d %d %d %d %d %d %d %d %d %d %d \042%s\042 %d \042%s\042"
IDS_CMD_MASKFROMOBJECT	    "MaskFromObject %d %d %d %d %d %d %d %d %d %d %d"
IDS_CMD_OBJECTFROMMASK	    "ObjectFromMask"
IDS_CMD_EFFECT			    "Effect \042%s\042 \042%s\042 %d"
IDS_CMD_REMOVEMASK		    "RemoveMask"
IDS_CMD_INVERTMASK		    "InvertMask"
IDS_CMD_FEATHERMASK		    "FeatherMask %d %d %d %d"
IDS_CMD_FEATHEROBJECT	    "FeatherObject %d %d %d %d"
IDS_CMD_REMOVE_HOLES	    "RemoveHoles"
IDS_CMD_MASK_SMOOTH		    "MaskSmooth %d %d %d"
IDS_CMD_TEXT			    "Text \042%s\042 %d %d %d %d %d %d %d %d %d %d %d %d %s %d \042%s\042 %d %d %d"
IDS_CMD_EDITTEXT		    "EditText \042%s\042 %d %d %d %d %d %d %d %d %d %d %d %d %s %d \042%s\042 %d %d %d"
IDS_CMD_ALPHAEDIT		    "EditMaskChannel"
IDS_CMD_COMBINE			    "CombineObjects"
IDS_CMD_ACTIVATEWINDOW	    "ActivateWindow \042%s\042 %d"
IDS_CMD_NEWIMAGE		    "NewImage %d %s %s %d %d %s %d %d %lu %lu %d %lu %lu"
IDS_CMD_EDITUNDO	   	    "EditUndo"
IDS_CMD_MASKUNDO	   	    "MaskUndo"
IDS_CMD_EDITAPPLY	  	    "EditApply"
IDS_CMD_COPYTOFILE		    "CopyToFile \042%s\042 %d"
IDS_CMD_TRANSFORMIMAGE 	    "TransformImage %d %d %d %d %d %d %d %d \042%s\042 %d %d %d %d %d %d %d %d %d %d %d"
IDS_CMD_COPYTOIMAGE 	    "CopyToNewImage"
IDS_CMD_PAINT			    "PaintBrush \042%s\042 %d \042%s\042 %d %d %d %d %d %d \042%s\042 %d %s"
IDS_CMD_SPRAY			    "AirBrush \042%s\042 %d \042%s\042 %d %d %d %d %d %d \042%s\042 %d %s"
IDS_CMD_CLONE			    "CloneBrush \042%s\042 %d \042%s\042 %d %d %d %d %d %d %d \042%s\042 \042%s\042 %s %s"
IDS_CMD_TEXTURE 		    "TextureBrush \042%s\042 %d \042%s\042 %d %d %d %d %d %d \042%s\042"
IDS_CMD_SMEAR			    "SmearBrush \042%s\042 %d \042%s\042 %d %d %d %d %d %d \042%s\042"
IDS_CMD_ERASER			    "EraserBrush \042%s\042 %d \042%s\042 %d %d %d %d %d %d \042%s\042 %d %s"
IDS_CMD_SHARP			    "SharpenBrush \042%s\042 %d \042%s\042 %d %d %d %d %d %d"
IDS_CMD_SMOOTH			    "SmoothBrush \042%s\042 %d \042%s\042 %d %d %d %d %d %d"
IDS_CMD_LIGHTEN			    "LightenBrush \042%s\042 %d \042%s\042 %d %d %d %d %d %d"
IDS_CMD_DARKEN			    "DarkenBrush \042%s\042 %d \042%s\042 %d %d %d %d %d %d"
IDS_CMD_PAINTON 		    "PaintOnMaskBrush %d \042%s\042 %d %d %d %d %d %d %d %d"
IDS_CMD_UNDOERASE 		    "UndoEraserBrush %d \042%s\042 %d %d %d %d %d %d"
IDS_CMD_DRAWSHAPE		    "DrawShape %d %d %d %d %d %d %d \042%s\042 %d \042%s\042 %d %d %d \042%s\042 %d %s %d %s"
IDS_CMD_DRAWFREE		    "DrawFreehand %d \042%s\042 %d \042%s\042 %d %d %d \042%s\042 %d %s %d %s %d %d"
IDS_CMD_PENCIL			    "DrawPencil %d \042%s\042 %d \042%s\042 %d %d %d \042%s\042 %d %s %d %s %d %d"
IDS_CMD_PALETTEEDIT 	    "PaletteEdit %d %d %d"
IDS_CMD_OBJECTALIGN		    "ObjectAlign %d %d %d %d"
IDS_CMD_SETMERGEMODE 	    "SetObjectsMergeMode \042%s\042"
IDS_CMD_ORDERDOWN   	    "OrderObjectsDown"
IDS_CMD_ORDERTOTOP   	    "OrderObjectsToTop"
IDS_CMD_ORDERTOBOTTOM       "OrderObjectsToBottom"
IDS_CMD_COMBINESEL		    "CombineSelObjects"
IDS_CMD_OBJECTPOS		    "ObjectPosition %d %d %d"
IDS_CMD_OBJLOCK			    "ObjectLock"
IDS_CMD_OBJUNLOCK		    "ObjectUnLock"
IDS_CMD_OBJCOMBOBJS		    "ObjectCombineObjects"
IDS_CMD_PSFILTER		    "PluginFilter \042%s\042 %d %ld"
IDS_CMD_CROP			    "Crop %d %d %d %d %d"
IDS_CMD_CROPMASK		    "CropToMask"
IDS_CMD_CLOSE			    "CloseImage"
IDS_CMD_SAVETOALBUM	      	"SaveToAlbum \042%s\042 \042%s\042 %d %d %s"
IDS_CMD_CREATECLIPOBJECT	"CreateClipObject"
IDS_CMD_FASTBITS 		    "FastBits \042%s\042 \042%s\042 %d %d %d %d %d %lu %lu %d %lu %lu"
IDS_CMD_DELETEOBJECTS		"DeleteObjects"
IDS_CMD_STROKEMASK 		    "StrokeMask %d \042%s\042 %d \042%s\042 %d %d %d %d %d \042%s\042 %d %s"
IDS_CMD_COPYTOCLIPBOARD		"CopyToClipboard"
IDS_CMD_SAVEMASK		    "SaveMask \042%s\042"
IDS_CMD_DISCARDUNDO		    "DiscardUndo %d"

END
#endif

