// (c) Copyright 1991 MICROGRAFX, Inc., All Rights Reserved.
// This material is confidential and a trade secret.
// Permission to use this work for any purpose must be obtained
// in writing from: MICROGRAFX, 1303 E Arapaho, Richardson, TX
#include "id.h"


//************************************************************************
// The BITMAP assignements
//************************************************************************

IDR_FILEMENU	BITMAP LOADONCALL MOVEABLE DISCARDABLE FILE16C.BMP
IDR_EDITMENU	BITMAP LOADONCALL MOVEABLE DISCARDABLE EDIT16C.BMP
IDR_VIEWMENU	BITMAP LOADONCALL MOVEABLE DISCARDABLE view16c.bmp
IDR_TOOLMENU	BITMAP LOADONCALL MOVEABLE DISCARDABLE tool16c.bmp
IDR_MASKMENU	BITMAP LOADONCALL MOVEABLE DISCARDABLE MASK16C.BMP
IDR_MAPMENU	BITMAP LOADONCALL MOVEABLE DISCARDABLE MAP16C.BMP
IDR_IMAGEMENU	BITMAP LOADONCALL MOVEABLE DISCARDABLE IMAGE16C.BMP
IDR_OBJMENU	BITMAP LOADONCALL MOVEABLE DISCARDABLE OBJ16C.BMP
IDR_WINDOWMENU	BITMAP LOADONCALL MOVEABLE DISCARDABLE windw16c.bmp
IDR_HELPMENU	BITMAP LOADONCALL MOVEABLE DISCARDABLE help16c.bmp
IDR_SELECTOR	BITMAP LOADONCALL MOVEABLE DISCARDABLE selct16c.bmp
IDR_MASKTOOL	BITMAP LOADONCALL MOVEABLE DISCARDABLE maskt16c.bmp
IDR_PAINTTOOL	BITMAP LOADONCALL MOVEABLE DISCARDABLE RETOU16C.BMP
IDR_FILTERTOOL	BITMAP LOADONCALL MOVEABLE DISCARDABLE FILT16C.BMP
IDR_FILLTOOL	BITMAP LOADONCALL MOVEABLE DISCARDABLE FILL16C.BMP
IDR_DRAWTOOL	BITMAP LOADONCALL MOVEABLE DISCARDABLE DRAW16C.BMP
IDR_ZOOMTOOL	BITMAP LOADONCALL MOVEABLE DISCARDABLE ZOOM16C.BMP
IDR_TEXTTOOL	BITMAP LOADONCALL MOVEABLE DISCARDABLE text16c.bmp
IDR_PROPETOOL	BITMAP LOADONCALL MOVEABLE DISCARDABLE probe16c.bmp


