<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
	</appSettings>
	<connectionStrings>
		<clear />
		<remove name="LocalSqlServer" />
		<add name="LocalSqlServer" connectionString="Server=sql2k801.discountasp.net;Database=SQL2008_539371_facetoface;User ID=SQL2008_539371_facetoface_user;Password=7202jimm" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<!--<trace enabled="true" localOnly="false" pageOutput="true"/>-->
		<compilation debug="false" targetFramework="4.0" />
		<globalization culture="auto" uiCulture="auto" />
		<authentication mode="Forms">
			<forms slidingExpiration="true" timeout="129600" />
		</authentication>
	</system.web>
	<!-- 
		The system.webServer section is required for running ASP.NET AJAX under IIS 7.0.
		It is not necessary for previous version of IIS.
	-->
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<urlCompression doDynamicCompression="true" />
	</system.webServer>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="customercare@facetofacesoftware.com">
				<network defaultCredentials="false" host="smtp.dreamnit.com" password="7202jimm" port="587" userName="jmccurdy@dreamnit.com" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
