<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
	</appSettings>
	<connectionStrings>
		<clear />
		<remove name="LocalSqlServer" />
		<add name="LocalSqlServer" connectionString="Server=sql2k801.discountasp.net;Database=SQL2008_539371_facetoface;User ID=SQL2008_539371_facetoface_user;Password=7202jimm" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<!--<trace enabled="true" localOnly="false" pageOutput="true"/>-->
		<compilation debug="false" targetFramework="4.0" />
		<globalization culture="auto" uiCulture="auto" />
		<authentication mode="Forms">
			<forms slidingExpiration="true" timeout="129600" />
		</authentication>
	</system.web>
	<!-- 
		The system.webServer section is required for running ASP.NET AJAX under IIS 7.0.
		It is not necessary for previous version of IIS.
	-->
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<security>
			<authentication>
				<basicAuthentication enabled="false" />
			</authentication>
		</security>
		<rewrite>
			<rules>
				<clear />
				<rule name="Redirect discountpayroll.net HTTP to HTTPS" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{HTTP_HOST}" pattern="*discountpayroll.net" />
						<add input="{HTTPS}" pattern="off" />
					</conditions>
					<action type="Redirect" url="https://discountpayroll.net/{R:1}" redirectType="Permanent" />
				</rule>
				<rule name="Redirect host names that are mis-spelled to yinyangmoney.com" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" />
					<conditions logicalGrouping="MatchAny" trackAllCaptures="false">
						<add input="{HTTP_HOST}" pattern="*yingyangmoney.com" />
					</conditions>
					<action type="Redirect" url="http://yinyangmoney.com/{R:0}" appendQueryString="true" redirectType="Permanent" />
				</rule>
				<rule name="Redirect host names that are mis-spelled to yinyangme.com" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" />
					<conditions logicalGrouping="MatchAny" trackAllCaptures="false">
						<add input="{HTTP_HOST}" pattern="*yingyangme.com" />
					</conditions>
					<action type="Redirect" url="http://yinyangme.com/{R:0}" appendQueryString="true" redirectType="Permanent" />
				</rule>
				<rule name="Redirect host names that are preceded by 'www.*' to remove it" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" negate="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{HTTP_HOST}" pattern="www.*" />
					</conditions>
					<action type="Redirect" url="http://{C:1}/{R:0}" appendQueryString="true" />
				</rule>
				<rule name="Redirect 'yinyangmoney.com/index.aspx' to remove 'index.aspx'" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*index.aspx*" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{HTTP_HOST}" pattern="*yinyangmoney.com" />
					</conditions>
					<action type="Redirect" url="{R:1}{R:2}" appendQueryString="true" />
				</rule>
				<rule name="Redirect 'facetofacesoftware.com/resume.*' to 'Resume.aspx'" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
					<match url="resume.htm" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{HTTP_HOST}" pattern="*facetofacesoftware.com" />
					</conditions>
					<action type="Redirect" url="Resume.aspx" appendQueryString="true" />
				</rule>
				<rule name="Redirect (Found 302) '*app*' to hash fragment '*#*'" enabled="false" patternSyntax="Wildcard" stopProcessing="true">
					<match url="app*" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Redirect" url="#{R:1}" appendQueryString="true" redirectType="Found" />
				</rule>
				<rule name="Redirect (Found 302) '*app*' to querystring '*?cmd=*'" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
					<match url="app*" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Redirect" url="?cmd={R:1}" appendQueryString="true" redirectType="Found" />
				</rule>
				<rule name="Point 'discountpayroll.net/payroll/*' to 'Payroll.aspx?cmd=*'" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
					<match url="payroll/*" negate="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="true">
						<add input="{HTTP_HOST}" pattern="*discountpayroll.net" />
					</conditions>
					<action type="Redirect" url="Payroll.aspx?cmd=/{R:1}" appendQueryString="false" logRewrittenUrl="false" />
				</rule>
				<rule name="Point 'discountpayroll.net' to subfolder 'Payroll.Web'" enabled="true" patternSyntax="Wildcard" stopProcessing="false">
					<match url="*" negate="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{HTTP_HOST}" pattern="*discountpayroll.net" />
						<add input="{R:0}/" pattern="Payroll.Web/*" negate="true" />
					</conditions>
					<action type="Rewrite" url="Payroll.Web/{R:0}" appendQueryString="true" />
				</rule>
				<rule name="Point 'facetofacesoftware.com' to subfolder 'FaceToFace.Web'" enabled="true" patternSyntax="Wildcard" stopProcessing="false">
					<match url="*" negate="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{HTTP_HOST}" pattern="*facetofacesoftware.com" />
						<add input="{R:0}/" pattern="FaceToFace.Web/*" negate="true" />
					</conditions>
					<action type="Rewrite" url="FaceToFace.Web/{R:0}" appendQueryString="true" />
				</rule>
				<rule name="Point 'mcpivot.com' to subfolder 'Pivot.Web'" enabled="true" patternSyntax="Wildcard" stopProcessing="false">
					<match url="*" negate="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{HTTP_HOST}" pattern="*mcpivot.com" />
						<add input="{R:0}/" pattern="Pivot.Web/*" negate="true" />
					</conditions>
					<action type="Rewrite" url="Pivot.Web/{R:0}" appendQueryString="true" />
				</rule>
				<rule name="Point 'yinyangmoney.com' to subfolder 'Money.Web'" enabled="true" patternSyntax="Wildcard" stopProcessing="false">
					<match url="*" negate="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{HTTP_HOST}" pattern="*yinyangmoney.com" />
						<add input="{R:0}/" pattern="Money.Web/*" negate="true" />
					</conditions>
					<action type="Rewrite" url="Money.Web/{R:0}" appendQueryString="true" />
				</rule>
				<rule name="Point 'yinyangme.com' to subfolder 'blog'" enabled="true" patternSyntax="Wildcard" stopProcessing="false">
					<match url="*" negate="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{HTTP_HOST}" matchType="Pattern" pattern="*yinyangme.com" ignoreCase="true" negate="false" />
						<add input="{R:0}/" pattern="blog/*" negate="true" />
					</conditions>
					<action type="Rewrite" url="blog/{R:0}" appendQueryString="true" />
				</rule>
				<rule name="The easiest way to test is enter an invalid URL into the browser and observe the detailed error message" enabled="false" patternSyntax="Wildcard" stopProcessing="false">
					<match url="*" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="{R:0}" />
				</rule>
			</rules>
		</rewrite>
		<urlCompression doDynamicCompression="true" />
		<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
			<dynamicTypes>
				<!--<add mimeType="application/x-javascript" enabled="true" />-->
				<add mimeType="application/soap+msbin1" enabled="true" />
			</dynamicTypes>
			<staticTypes>
				<!--<add mimeType="text/*" enabled="true" />-->
				<!--<add mimeType="message/*" enabled="true" />-->
				<!--<add mimeType="application/x-javascript" enabled="true" />-->
				<!--<add mimeType="*/*" enabled="false" />-->
				<add mimeType="application/soap+msbin1" enabled="true" />
			</staticTypes>
		</httpCompression>
	</system.webServer>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="customercare@dreamnit.com">
				<network defaultCredentials="false" host="smtp.dreamnit.com" password="7202jimm" port="587" userName="admin@dreamnit.com" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
