//***********************************************************************
IDD_NUTDROPI SCENE // The logo scene
//***********************************************************************
STAGE ""
PROPS
{					 
	TOONHOLDER()
}

//***********************************************************************
IDD_NUTDROPI GAMETABLE
//***********************************************************************
{
"
	// target pieces
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","

	matchesneeded=8;","
	dropspeed=120,droptimer=15;","/*tenths of a sec.*/
	screenleftedge=48,screenrightedge=591,screenbottom=280;","
	Player=player.bmp,PlayerCells=10,PlayerSpeed=500;","
	LeftBasket = 9 0  46 999;","
	RightBasket=85 0 122 999;","
	gamearea=47 30 592 433;","
	introwave=intro1.wav,gotonewave=gotone.wav;","
	successlevel=succi.wav succi.wav succi.wav succi.wav;","
	keyboardmove=20;","
	CaughtScoreLoc=60 400,ScoreWidth=20,ScoreBmp=digits.bmp,ScoreCells=11;","
",0
}

//***********************************************************************
IDD_NUTDROPI JUMPTABLE
//***********************************************************************
{
"
	bg=scene10\\backgni.bmp,clip=CL CT CR CB,","

	prev=TRANS_PREV,","
	next=TRANS_NEXT,","
	jump=TRANS_JUMP;","

//*** Page Number ***//                                                              
                                                              
	/PAGE=0 0,			pos=291 0,fg=page.bmp,flags=noclip;","

//****** These are the lines for the buttons on the action strip ******//

	/IDC_PREVIOUS=0 0,	hot=46 444,		flags=noclip autobutton click alwaysenabled notrans,cmd=IDC_PREVIOUS,fg=prev.bmp,hint=prev.wav;","
	/IDC_MAINMENU=0 0,	hot=307 439,	flags=noclip autobutton click alwaysenabled notrans,cmd=IDC_MAINMENU,fg=main.bmp,hint=mainmenu.wav;","
	/IDC_SOUNDBOX=0 0,	hot=218 441,	flags=noclip autobutton click notrans,cmd=IDC_SOUNDBOX,fg=sound.bmp,hint=soundbox.wav;","
	/IDC_OPTIONS=0 0,	hot=389 441,	flags=noclip autobutton click notrans,cmd=IDC_OPTIONS,fg=options.bmp,hint=options.wav;","
	/IDC_ACTIVITIES=0 0,hot=136 437,	flags=noclip autobutton click notrans,cmd=IDC_ACTIVITIES,fg=activity.bmp,hint=activity.wav;","
	/IDC_NEXT=0 0,		hot=557 444,	flags=noclip autobutton click alwaysenabled notrans,cmd=IDC_NEXT,fg=next.bmp,hint=next.wav;","
	/IDC_HELP=0 0,		hot=484 444,	flags=noclip autobutton click notrans,fg=help.bmp, hint=helphint.wav, wave=help.wav;","

",0
}
   
//***********************************************************************
IDD_SPANNUTDROPI GAMETABLE
//***********************************************************************
{
"
	// target pieces
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","

	matchesneeded=8;","
	dropspeed=120,droptimer=15;","/*tenths of a sec.*/
	screenleftedge=48,screenrightedge=591,screenbottom=280;","
	Player=player.bmp,PlayerCells=10,PlayerSpeed=500;","
	LeftBasket = 9 0  46 999;","
	RightBasket=85 0 122 999;","
	gamearea=47 30 592 433;","
	introwave=spintro1.wav,gotonewave=gotone.wav;","
	successlevel=spsucci.wav spsucci.wav spsucci.wav spsucci.wav;","
	keyboardmove=20;","
	CaughtScoreLoc=60 400,ScoreWidth=20,ScoreBmp=digits.bmp,ScoreCells=11;","
",0
}

//***********************************************************************
IDD_SPANNUTDROPI JUMPTABLE
//***********************************************************************
{
"
	bg=scene10\\backgni.bmp,clip=CL CT CR CB,","

	prev=TRANS_PREV,","
	next=TRANS_NEXT,","
	jump=TRANS_JUMP;","

//*** Page Number ***//                                                              
                                                              
	/PAGE=0 0,			pos=291 0,fg=page.bmp,flags=noclip;","

//****** These are the lines for the buttons on the action strip ******//

	/IDC_PREVIOUS=0 0,	hot=46 444,		flags=noclip autobutton click alwaysenabled notrans,cmd=IDC_PREVIOUS,fg=prev.bmp,hint=spprev.wav;","
	/IDC_MAINMENU=0 0,	hot=307 439,	flags=noclip autobutton click alwaysenabled notrans,cmd=IDC_MAINMENU,fg=main.bmp,hint=spmain.wav;","
	/IDC_SOUNDBOX=0 0,	hot=218 441,	flags=noclip autobutton click notrans,cmd=IDC_SOUNDBOX,fg=sound.bmp,hint=spsounds.wav;","
	/IDC_OPTIONS=0 0,	hot=389 441,	flags=noclip autobutton click notrans,cmd=IDC_OPTIONS,fg=options.bmp,hint=spoption.wav;","
	/IDC_ACTIVITIES=0 0,hot=136 437,	flags=noclip autobutton click notrans,cmd=IDC_ACTIVITIES,fg=activity.bmp,hint=spactivy.wav;","
	/IDC_NEXT=0 0,		hot=557 444,	flags=noclip autobutton click alwaysenabled notrans,cmd=IDC_NEXT,fg=next.bmp,hint=spnext.wav;","
	/IDC_HELP=0 0,		hot=484 444,	flags=noclip autobutton click notrans,fg=help.bmp, hint=sphelp1.wav, wave=sphelp.wav;","

",0
}

//***********************************************************************
IDD_NUTDROP1 SCENE // The logo scene
//***********************************************************************
STAGE ""
PROPS
{					 
	TOONHOLDER()
}

//***********************************************************************
IDD_NUTDROP1 GAMETABLE
//***********************************************************************
{
"
	// target pieces
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","

	matchesneeded=8;","
	dropspeed=120,droptimer=15;","/*tenths of a sec.*/
	screenleftedge=48,screenrightedge=591,screenbottom=280;","
	Player=player.bmp,PlayerCells=10,PlayerSpeed=500;","
	LeftBasket = 9 0  46 999;","
	RightBasket=85 0 122 999;","
	gamearea=47 30 592 433;","
	introwave=intro1.wav,gotonewave=gotone.wav;","
	successlevel=succ1.wav succ1.wav succ1.wav succ1.wav;","
	keyboardmove=20;","
	CaughtScoreLoc=60 400,ScoreWidth=20,ScoreBmp=digits.bmp,ScoreCells=11;","

",0
}

//***********************************************************************
IDD_NUTDROP1 JUMPTABLE
//***********************************************************************
{
"
	bg=scene10\\backgnd.bmp,clip=CL CT CR CB,","
	
	prev=TRANS_NONE,","
	next=TRANS_NONE,","
	jump=NOFADE CLIP TRANS_REPLACE 1 1;","

	/IDC_BACK=0 0,		hot=7 441,		flags=noclip autobutton click notrans, cmd=IDC_BACK,       fg=back.bmp, hint=story.wav;","
	/IDC_ACTIVITIES=0 0,hot=136 437,	flags=noclip autobutton click notrans, cmd=IDC_ACTIVITIES, fg=activity.bmp, hint=activity.wav;","
	/IDC_MAINMENU=0 0,	hot=307 439,	flags=noclip autobutton click notrans, cmd=IDC_MAINMENU,   fg=main.bmp, hint=mainmenu.wav;","
	/IDC_HELP=0 0,		hot=484 445,	flags=noclip autobutton click notrans, cmd=IDC_HELP,       fg=help.bmp, hint=helphint.wav;","

	/IDC_LEVEL1OFF=0 0,	hot=601 395,	flags=noclip,          cmd=IDC_LEVEL1,show=/IDC_LEVEL1ON,hide=/IDC_LEVEL2ON /IDC_LEVEL3ON,fg=lvl1off.bmp;","
	/IDC_LEVEL2OFF=0 0, hot=601 359,	flags=noclip,          cmd=IDC_LEVEL2,show=/IDC_LEVEL2ON,hide=/IDC_LEVEL1ON /IDC_LEVEL3ON,fg=lvl2off.bmp;","
	/IDC_LEVEL3OFF=0 0, hot=601 323,	flags=noclip,          cmd=IDC_LEVEL3,show=/IDC_LEVEL3ON,hide=/IDC_LEVEL1ON /IDC_LEVEL2ON,fg=lvl3off.bmp;","
	/IDC_LEVEL1ON=0 0,	hot=601 395,	flags=noclip,          cmd=IDC_LEVEL1,fg=lvl1on.bmp;","
	/IDC_LEVEL2ON=0 0,  hot=601 359,	flags=noclip invisible,cmd=IDC_LEVEL2,fg=lvl2on.bmp;","
	/IDC_LEVEL3ON=0 0,  hot=601 323,	flags=noclip invisible,cmd=IDC_LEVEL3,fg=lvl3on.bmp;","
	
",0
}

//***********************************************************************
IDD_SPANNUTDROP1 GAMETABLE
//***********************************************************************
{
"
	// target pieces
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","

	matchesneeded=8;","
	dropspeed=120,droptimer=15;","/*tenths of a sec.*/
	screenleftedge=48,screenrightedge=591,screenbottom=280;","
	Player=player.bmp,PlayerCells=10,PlayerSpeed=500;","
	LeftBasket = 9 0  46 999;","
	RightBasket=85 0 122 999;","
	gamearea=47 30 592 433;","
	introwave=spintro1.wav,gotonewave=gotone.wav;","
	successlevel=spsucc1.wav spsucc1.wav spsucc1.wav spsucc1.wav;","
	keyboardmove=20;","
	CaughtScoreLoc=60 400,ScoreWidth=20,ScoreBmp=digits.bmp,ScoreCells=11;","

",0
}

//***********************************************************************
IDD_SPANNUTDROP1 JUMPTABLE
//***********************************************************************
{
"
	bg=scene10\\backgnd.bmp,clip=CL CT CR CB,","
	
	prev=TRANS_NONE,","
	next=TRANS_NONE,","
	jump=NOFADE CLIP TRANS_REPLACE 1 1;","

	/IDC_BACK=0 0,		hot=7 441,		flags=noclip autobutton click notrans, cmd=IDC_BACK,       fg=back.bmp, hint=spstory.wav;","
	/IDC_ACTIVITIES=0 0,hot=136 437,	flags=noclip autobutton click notrans, cmd=IDC_ACTIVITIES, fg=activity.bmp, hint=spactivy.wav;","
	/IDC_MAINMENU=0 0,	hot=307 439,	flags=noclip autobutton click notrans, cmd=IDC_MAINMENU,   fg=main.bmp, hint=spmain.wav;","
	/IDC_HELP=0 0,		hot=484 445,	flags=noclip autobutton click notrans, cmd=IDC_HELP,       fg=help.bmp, hint=sphelp1.wav;","

	/IDC_LEVEL1OFF=0 0,	hot=601 395,	flags=noclip,          cmd=IDC_LEVEL1,show=/IDC_LEVEL1ON,hide=/IDC_LEVEL2ON /IDC_LEVEL3ON,fg=lvl1off.bmp;","
	/IDC_LEVEL2OFF=0 0, hot=601 359,	flags=noclip,          cmd=IDC_LEVEL2,show=/IDC_LEVEL2ON,hide=/IDC_LEVEL1ON /IDC_LEVEL3ON,fg=lvl2off.bmp;","
	/IDC_LEVEL3OFF=0 0, hot=601 323,	flags=noclip,          cmd=IDC_LEVEL3,show=/IDC_LEVEL3ON,hide=/IDC_LEVEL1ON /IDC_LEVEL2ON,fg=lvl3off.bmp;","
	/IDC_LEVEL1ON=0 0,	hot=601 395,	flags=noclip,          cmd=IDC_LEVEL1,fg=lvl1on.bmp;","
	/IDC_LEVEL2ON=0 0,  hot=601 359,	flags=noclip invisible,cmd=IDC_LEVEL2,fg=lvl2on.bmp;","
	/IDC_LEVEL3ON=0 0,  hot=601 323,	flags=noclip invisible,cmd=IDC_LEVEL3,fg=lvl3on.bmp;","
	
",0
}

//***********************************************************************
IDD_NUTDROP2 SCENE // The logo scene
//***********************************************************************
STAGE ""
PROPS
{					 
	TOONHOLDER()
}


//***********************************************************************
IDD_NUTDROP2 GAMETABLE
//***********************************************************************
{
"
	// target pieces
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","

	matchesneeded=10;","
	dropspeed=150,droptimer=10;","/*tenths of a sec.*/
	screenleftedge=48,screenrightedge=591,screenbottom=280;","
	Player=player.bmp,PlayerCells=10,PlayerSpeed=500;","
	LeftBasket = 9 0  46 999;","
	RightBasket=85 0 122 999;","
	gamearea=47 30 592 433;","
	introwave=intro2.wav,gotonewave=gotone.wav;","
	successlevel=succ2.wav succ2.wav succ2.wav succ2.wav;","
	keyboardmove=20;","
	CaughtScoreLoc=60 400,ScoreWidth=20,ScoreBmp=digits.bmp,ScoreCells=11;","

",0
}

//***********************************************************************
IDD_NUTDROP2 JUMPTABLE
//***********************************************************************
{
"
	bg=scene10\\backgnd.bmp,clip=CL CT CR CB,","

	prev=TRANS_NONE,","
	next=TRANS_NONE,","
	jump=NOFADE CLIP TRANS_REPLACE 1 1;","

	/IDC_BACK=0 0,		hot=7 441,		flags=noclip autobutton click notrans, cmd=IDC_BACK,       fg=back.bmp, hint=story.wav;","
	/IDC_ACTIVITIES=0 0,hot=136 437,	flags=noclip autobutton click notrans, cmd=IDC_ACTIVITIES, fg=activity.bmp, hint=activity.wav;","
	/IDC_MAINMENU=0 0,	hot=307 439,	flags=noclip autobutton click notrans, cmd=IDC_MAINMENU,   fg=main.bmp, hint=mainmenu.wav;","
	/IDC_HELP=0 0,		hot=484 445,	flags=noclip autobutton click notrans, cmd=IDC_HELP,       fg=help.bmp, hint=helphint.wav;","

	/IDC_LEVEL1OFF=0 0,	hot=601 395,	flags=noclip,          cmd=IDC_LEVEL1,show=/IDC_LEVEL1ON,hide=/IDC_LEVEL2ON /IDC_LEVEL3ON,fg=lvl1off.bmp;","
	/IDC_LEVEL2OFF=0 0, hot=601 359,	flags=noclip,          cmd=IDC_LEVEL2,show=/IDC_LEVEL2ON,hide=/IDC_LEVEL1ON /IDC_LEVEL3ON,fg=lvl2off.bmp;","
	/IDC_LEVEL3OFF=0 0, hot=601 323,	flags=noclip,          cmd=IDC_LEVEL3,show=/IDC_LEVEL3ON,hide=/IDC_LEVEL1ON /IDC_LEVEL2ON,fg=lvl3off.bmp;","
	/IDC_LEVEL1ON=0 0,	hot=601 395,	flags=noclip invisible,cmd=IDC_LEVEL1,fg=lvl1on.bmp;","
	/IDC_LEVEL2ON=0 0,  hot=601 359,	flags=noclip,          cmd=IDC_LEVEL2,fg=lvl2on.bmp;","
	/IDC_LEVEL3ON=0 0,  hot=601 323,	flags=noclip invisible,cmd=IDC_LEVEL3,fg=lvl3on.bmp;","

",0
}
//***********************************************************************
IDD_SPANNUTDROP2 GAMETABLE
//***********************************************************************
{
"
	// target pieces
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","

	matchesneeded=10;","
	dropspeed=150,droptimer=10;","/*tenths of a sec.*/
	screenleftedge=48,screenrightedge=591,screenbottom=280;","
	Player=player.bmp,PlayerCells=10,PlayerSpeed=500;","
	LeftBasket = 9 0  46 999;","
	RightBasket=85 0 122 999;","
	gamearea=47 30 592 433;","
	introwave=spintro2.wav,gotonewave=gotone.wav;","
	successlevel=spsucc2.wav spsucc2.wav spsucc2.wav spsucc2.wav;","
	keyboardmove=20;","
	CaughtScoreLoc=60 400,ScoreWidth=20,ScoreBmp=digits.bmp,ScoreCells=11;","

",0
}

//***********************************************************************
IDD_SPANNUTDROP2 JUMPTABLE
//***********************************************************************
{
"
	bg=scene10\\backgnd.bmp,clip=CL CT CR CB,","

	prev=TRANS_NONE,","
	next=TRANS_NONE,","
	jump=NOFADE CLIP TRANS_REPLACE 1 1;","

	/IDC_BACK=0 0,		hot=7 441,		flags=noclip autobutton click notrans, cmd=IDC_BACK,       fg=back.bmp, hint=spstory.wav;","
	/IDC_ACTIVITIES=0 0,hot=136 437,	flags=noclip autobutton click notrans, cmd=IDC_ACTIVITIES, fg=activity.bmp, hint=spactivy.wav;","
	/IDC_MAINMENU=0 0,	hot=307 439,	flags=noclip autobutton click notrans, cmd=IDC_MAINMENU,   fg=main.bmp, hint=spmain.wav;","
	/IDC_HELP=0 0,		hot=484 445,	flags=noclip autobutton click notrans, cmd=IDC_HELP,       fg=help.bmp, hint=sphelp1.wav;","

	/IDC_LEVEL1OFF=0 0,	hot=601 395,	flags=noclip,          cmd=IDC_LEVEL1,show=/IDC_LEVEL1ON,hide=/IDC_LEVEL2ON /IDC_LEVEL3ON,fg=lvl1off.bmp;","
	/IDC_LEVEL2OFF=0 0, hot=601 359,	flags=noclip,          cmd=IDC_LEVEL2,show=/IDC_LEVEL2ON,hide=/IDC_LEVEL1ON /IDC_LEVEL3ON,fg=lvl2off.bmp;","
	/IDC_LEVEL3OFF=0 0, hot=601 323,	flags=noclip,          cmd=IDC_LEVEL3,show=/IDC_LEVEL3ON,hide=/IDC_LEVEL1ON /IDC_LEVEL2ON,fg=lvl3off.bmp;","
	/IDC_LEVEL1ON=0 0,	hot=601 395,	flags=noclip invisible,cmd=IDC_LEVEL1,fg=lvl1on.bmp;","
	/IDC_LEVEL2ON=0 0,  hot=601 359,	flags=noclip,          cmd=IDC_LEVEL2,fg=lvl2on.bmp;","
	/IDC_LEVEL3ON=0 0,  hot=601 323,	flags=noclip invisible,cmd=IDC_LEVEL3,fg=lvl3on.bmp;","

",0
}

//***********************************************************************
IDD_NUTDROP3 SCENE // The logo scene
//***********************************************************************
STAGE ""
PROPS
{					 
	TOONHOLDER()
}

//***********************************************************************
IDD_NUTDROP3 GAMETABLE
//***********************************************************************
{
"
	// target pieces
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","

	matchesneeded=12;","
	dropspeed=180,droptimer=10;","
	screenleftedge=48,screenrightedge=591,screenbottom=280;","
	Player=player.bmp,PlayerCells=10,PlayerSpeed=500;","
	LeftBasket = 9 0  46 999;","
	RightBasket=85 0 122 999;","
	gamearea=47 30 592 433;","
	introwave=intro3.wav,gotonewave=gotone.wav;","
	successlevel=succ3.wav succ3.wav succ3.wav succ3.wav;","
	keyboardmove=20;","
	CaughtScoreLoc=60 400,ScoreWidth=20,ScoreBmp=digits.bmp,ScoreCells=11;","

",0
}


//***********************************************************************
IDD_NUTDROP3 JUMPTABLE
//***********************************************************************
{
"
	bg=scene10\\backgnd.bmp,clip=CL CT CR CB,","

	prev=TRANS_NONE,","
	next=TRANS_NONE,","
	jump=NOFADE CLIP TRANS_REPLACE 1 1;","

	/IDC_BACK=0 0,		hot=7 441,		flags=noclip autobutton click notrans, cmd=IDC_BACK,       fg=back.bmp, hint=story.wav;","
	/IDC_ACTIVITIES=0 0,hot=136 437,	flags=noclip autobutton click notrans, cmd=IDC_ACTIVITIES, fg=activity.bmp, hint=activity.wav;","
	/IDC_MAINMENU=0 0,	hot=307 439,	flags=noclip autobutton click notrans, cmd=IDC_MAINMENU,   fg=main.bmp, hint=mainmenu.wav;","
	/IDC_HELP=0 0,		hot=484 445,	flags=noclip autobutton click notrans, cmd=IDC_HELP,       fg=help.bmp, hint=helphint.wav;","

	/IDC_LEVEL1OFF=0 0,	hot=601 395,	flags=noclip,          cmd=IDC_LEVEL1,show=/IDC_LEVEL1ON,hide=/IDC_LEVEL2ON /IDC_LEVEL3ON,fg=lvl1off.bmp;","
	/IDC_LEVEL2OFF=0 0, hot=601 359,	flags=noclip,          cmd=IDC_LEVEL2,show=/IDC_LEVEL2ON,hide=/IDC_LEVEL1ON /IDC_LEVEL3ON,fg=lvl2off.bmp;","
	/IDC_LEVEL3OFF=0 0, hot=601 323,	flags=noclip,          cmd=IDC_LEVEL3,show=/IDC_LEVEL3ON,hide=/IDC_LEVEL1ON /IDC_LEVEL2ON,fg=lvl3off.bmp;","
	/IDC_LEVEL1ON=0 0,	hot=601 395,	flags=noclip invisible,cmd=IDC_LEVEL1,fg=lvl1on.bmp;","
	/IDC_LEVEL2ON=0 0,  hot=601 359,	flags=noclip invisible,cmd=IDC_LEVEL2,fg=lvl2on.bmp;","
	/IDC_LEVEL3ON=0 0,  hot=601 323,	flags=noclip,          cmd=IDC_LEVEL3,fg=lvl3on.bmp;","
	
",0	
}
//***********************************************************************
IDD_SPANNUTDROP3 GAMETABLE
//***********************************************************************
{
"
	// target pieces
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","
	item=nut1.bmp,tcells=1,fcells=0;","
	item=nut2.bmp,tcells=1,fcells=0;","

	matchesneeded=12;","
	dropspeed=180,droptimer=10;","
	screenleftedge=48,screenrightedge=591,screenbottom=280;","
	Player=player.bmp,PlayerCells=10,PlayerSpeed=500;","
	LeftBasket = 9 0  46 999;","
	RightBasket=85 0 122 999;","
	gamearea=47 30 592 433;","
	introwave=spintro3.wav,gotonewave=gotone.wav;","
	successlevel=spsucc3.wav spsucc3.wav spsucc3.wav spsucc3.wav;","
	keyboardmove=20;","
	CaughtScoreLoc=60 400,ScoreWidth=20,ScoreBmp=digits.bmp,ScoreCells=11;","

",0
}


//***********************************************************************
IDD_SPANNUTDROP3 JUMPTABLE
//***********************************************************************
{
"
	bg=scene10\\backgnd.bmp,clip=CL CT CR CB,","

	prev=TRANS_NONE,","
	next=TRANS_NONE,","
	jump=NOFADE CLIP TRANS_REPLACE 1 1;","

	/IDC_BACK=0 0,		hot=7 441,		flags=noclip autobutton click notrans, cmd=IDC_BACK,       fg=back.bmp, hint=spstory.wav;","
	/IDC_ACTIVITIES=0 0,hot=136 437,	flags=noclip autobutton click notrans, cmd=IDC_ACTIVITIES, fg=activity.bmp, hint=spactivy.wav;","
	/IDC_MAINMENU=0 0,	hot=307 439,	flags=noclip autobutton click notrans, cmd=IDC_MAINMENU,   fg=main.bmp, hint=spmain.wav;","
	/IDC_HELP=0 0,		hot=484 445,	flags=noclip autobutton click notrans, cmd=IDC_HELP,       fg=help.bmp, hint=sphelp1.wav;","

	/IDC_LEVEL1OFF=0 0,	hot=601 395,	flags=noclip,          cmd=IDC_LEVEL1,show=/IDC_LEVEL1ON,hide=/IDC_LEVEL2ON /IDC_LEVEL3ON,fg=lvl1off.bmp;","
	/IDC_LEVEL2OFF=0 0, hot=601 359,	flags=noclip,          cmd=IDC_LEVEL2,show=/IDC_LEVEL2ON,hide=/IDC_LEVEL1ON /IDC_LEVEL3ON,fg=lvl2off.bmp;","
	/IDC_LEVEL3OFF=0 0, hot=601 323,	flags=noclip,          cmd=IDC_LEVEL3,show=/IDC_LEVEL3ON,hide=/IDC_LEVEL1ON /IDC_LEVEL2ON,fg=lvl3off.bmp;","
	/IDC_LEVEL1ON=0 0,	hot=601 395,	flags=noclip invisible,cmd=IDC_LEVEL1,fg=lvl1on.bmp;","
	/IDC_LEVEL2ON=0 0,  hot=601 359,	flags=noclip invisible,cmd=IDC_LEVEL2,fg=lvl2on.bmp;","
	/IDC_LEVEL3ON=0 0,  hot=601 323,	flags=noclip,          cmd=IDC_LEVEL3,fg=lvl3on.bmp;","
	
",0	
}
