/*** FACEBOOK APP : GLOBAL ***/

hr { margin: 0; }
h1 { font-weight: bold; color: #F47C31; }
h4 { font-size: 12px; }
select { padding: 1px !important; margin: 5px 2px 5px 0 !important; border: 1px solid #4DB3D0 !important; }

a.share { color: #3B5998; }
